.section-experience {
  padding-top: 95px;

  .section-description {
    font-size: 26px;
    line-height: 30px;
  }

  .col-text {
    margin-bottom: 60px;
  }

  .col-numbers {
    margin-bottom: 30px;
  }

  .big-number {
    width: 50%;
    font-size: 68px;
    font-weight: 300;
    line-height: 72px;
  }

  .number-description {
    width: 50%;
    line-height: 18px;
  }

  &__slider {
    .slick-list {
      padding-right: 40px;
    }
    
    .slick-track {
      display: flex;
    }

    .slide {
      display: flex;
      height: auto;
      transition: all 0.4s ease-in-out;

      &:not(.slick-current) {
        opacity: 0.5;
      }
    }

    .image-wrap {
      padding-right: 20px;
      
      img {
        object-fit: cover;
      }
    }
  }
}

.section-geography {
  .count-wrap {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    margin-left: auto;
  }
  
  .interactive-map {
    width: 100%;
  }

  .countries-number {
    color: #000;
    font-size: 68px;
    font-weight: 300;
    line-height: 72px;
  }

  .countries-desc {
    color: #000;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .geography-image {
    margin-bottom: 100px;
  }
}

.section-values {
  padding: 95px 0;
  background-color: $main;

  .section-title {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 35px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 120px;
      height: 1px;
      background-color: #d8d8d8;
    }
  }

  .section-description {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 80px;
  }

  .col-value {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .value-image {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    transition: all 0.7s ease-in-out;
    
    &:hover {
      transform: scale(1.05);
      
      .value-img {
        opacity: 0;
        
        &.hidden {
          opacity: 1;
        }
      }
    }
  }
  
  .value-img {
    transition: all 0.7s ease-in-out;
    
    &.hidden {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
    }
  }

  .value-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .value-description {
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
  }
}

.section-about-services {
  padding: 95px 0 0;
  
  .about-service {
    margin-bottom: 70px;
    
    .section-text {
      margin-bottom: 60px;
    }
  
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      margin-bottom: 15px;
      border-radius: 100%;
      background-color: #666d73;
    
      img, svg {
        width: 70px;
        height: 70px;
      }
    }
  
    &__name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  
    &__desc {
      font-size: 13px;
      line-height: 20px;
    }
  
    .link-btn {
      margin-top: 40px;
    }
  }
}

.section-partners {
  padding: 95px 0;

  .section-title {
    margin-bottom: 60px;
  }

  .col-partner {
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .partners-slider {
    padding-bottom: 40px;
    margin-bottom: 0;

    .slide {
      padding-right: 20px;
    }
  }

  .partner-logo {
    display: flex;
    justify-content: center;
    max-width: 180px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

.section-certificates {
  padding: 95px 0;
  background-color: $main;

  .section-title {
    color: #fff;
    margin-bottom: 45px;
  }

  &__slider {
    width: 100%;
    padding-bottom: 70px;
    margin-bottom: 0;

    .slick-list {
      padding-right: 90px;
    }

    .image-wrap {
      width: 100%;
      padding-right: 20px;
      margin-bottom: 20px;
    }

    .certificate-desc {
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      text-transform: uppercase;
    }

    .slick-dots {
      li {
        &:before {
          background-color: #fff;
        }
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  .section-experience {
    padding-top: 235px;
    padding-bottom: 125px;

    .section-description {
      font-size: 48px;
      line-height: 64px;
    }

    .section-text {
      font-size: 13px;
      margin-bottom: 0;
    }

    .col-text {
      margin-bottom: 100px;
    }

    .big-number {
      width: auto;
      font-size: 128px;
      line-height: 72px;
    }

    .number-description {
      font-size: 12px;
    }

    &__slider {
      margin-bottom: 0 !important;

      .slick-list {
        padding-right: 0;
      }

      .image-wrap {
        height: 560px;
        padding-right: 0;

        img {
          object-fit: cover;
        }
      }

      .slick-dots {
        left: auto;
        right: 0;
      }
      
    }
  }

  .section-geography {
    padding-top: 125px;
    padding-bottom: 190px;

    .geography-image {
      margin-bottom: 0;
    }

    .count-wrap {
      align-items: center;
      flex-direction: row;
      max-width: none;
    }

    .countries-number {
      font-size: 128px;
    }

    .countries-desc {
      font-size: 12px;
      margin-left: 15px;
      max-width: 140px;
      margin-bottom: 0;
    }
  }

  .section-values {
    padding-top: 225px;
    padding-bottom: 230px;

    .section-title {
      font-size: 36px;
      text-align: left;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }

    .section-description {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 175px;
    }

    .col-value {
      margin-bottom: 0;
    }

    .value-wrap {
      max-width: 100%;
    }

    .value-image {
      width: 120px;
      height: 120px;
      margin-bottom: 55px;
    }
  }

  .section-about-services {
    padding: 225px 0 190px;

    .section-text {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 105px;
    }
    
    .about-service {
      margin-bottom: 100px;
      
      &__image {
        transform: translateX(-15px);
        margin-bottom: 20px;
        transition: all 0.7s ease-in-out;
        
        &:hover {
          background-color: $secondary;
          transform: translateX(-15px) scale(1.05);
        }
      }
    }
  }

  .section-partners {
    padding-top: 215px;
    padding-bottom: 0;
    background-color: $main;

    .section-title {
      color: #fff;
      margin-bottom: 110px;
    }

    .col-partner {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    .partners-slider {
      padding-bottom: 0;

      .slick-dots {
        left: auto;
        right: 15px;

        li {
          &:before {
            border-color: #fff;
          }

          button {
            background-color: #fff;
          }
        }
      }
    }

    .partner-logo {
      max-width: 200px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .section-certificates {
    padding-top: 115px;
    padding-bottom: 215px;

    .section-title {
      margin-bottom: 110px;
    }
    
    .col-tab {
      margin-bottom: 0;
    }

    .image-wrap {
      max-width: 365px;
    }

    .nav-link {
      max-width: none;
      color: #fff;

      &.active {
        color: #fff !important;
      }
    }
  }
}
