.contacts-main-section {
  height: auto !important;
  padding-bottom: 70px;

  .section-title {
    margin-left: 0 !important;
    margin-bottom: 40px !important;
  }

  .contact-info-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 70px;
  }

  .mail-link {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    img {
      width: 16px;
      margin-right: 15px;
    }

    span {
      position: relative;
      color: #fff;
      font-size: 14px;
      line-height: 24px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .phone-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;

      .phone-letter {
        margin-right: 15px;
        color: $secondary;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }

      .phone-text {
        opacity: 0.75;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .socials-wrap {
    margin-bottom: 0;

    .social-link {
      opacity: 0.75;
      width: 17px;
      min-width: 17px;
      height: 17px;
      margin-right: 10px;
      transition: all 0.4s ease-in-out;
      
      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        opacity: 1;
      }
    }
    
  }

  .address-wrap {
    p {
      color: #fff;
      font-size: 13px;
      line-height: 20px;

      &:first-child {
        font-weight: 700;
      }
    }
  }

  .map-link {
    display: flex;
    cursor: pointer;
    align-items: center;
    
    span {
      color: #fff;
      font-size: 11px;
      text-decoration: underline !important;
    }
    
    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
  
  .map-marker {
    position: absolute;
    top: -30px;
    width: 30px;
    height: 120px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .map-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 75px;
  }

  .bottom-socials-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-social-link {
    opacity: 0.5;
    width: 25px;
    height: 25px;
    margin-right: 35px;
    transition: all 0.4s ease-in-out;
    
    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.section-contact-form {
  padding: 95px 0;

  .contact-section-title {
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .form-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    input {
      -webkit-appearance: none;
      margin-bottom: 50px;
      color: #000000;
      font-size: 13px;
      line-height: 20px;
      border-bottom: 1px solid #666d73;
      width: 100%;
      padding: 0;

      &::placeholder {
        color: #000000;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    background-color: $main;

    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

@include media-breakpoint-up('lg') {
  .contacts-main-section {
    padding-top: 180px !important;

    .section-title {
      margin-bottom: 90px !important;
    }

    .mail-link {
      margin-bottom: 50px;
      
      &:hover {
        span {
          &:after{
            background-color: $secondary;
          }
        }
      }
    }

    .phone-wrap {
      margin-bottom: 60px;
      
      a {
        &:hover {
          .phone-text {
            opacity: 1;
          }
        }
        
        .phone-text, .phone-letter {
          font-size: 22px;
          line-height: 36px;
        }
      }
    }
  
    .map-marker {
      top: 5px;
      width: 40px;
      height: 150px;
    }

    .socials-wrap {
      .social-link {
        width: 20px;
        min-width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }

    .contact-info-wrap {
      margin-bottom: 50px;
    }

    .address-wrap {
    }

    .map-link {
    }

    .map-wrap {
      margin-bottom: 0;
    }

    .bottom-socials-wrap {
      justify-content: flex-start;
    }
  }

  .section-contact-form {
    padding-top: 220px;
    padding-bottom: 215px;

    .contact-section-title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 100px;
    }

    .form-wrap {
      padding: 115px 300px 145px 150px;
      background-color: $main;

      input {
        background-color: transparent;
        color: #fff;
        border-color: #666d73;

        &::placeholder {
          color: #fff;
        }
      }
    }

    .submit-btn {
      padding: 0;
      width: 270px;
      height: 60px;
      margin-top: 35px;
      background-color: #666d73;
    }
  }
}
