.section-fleet {
  .fleet-category {
    &__image {
      height: 290px;

      img {
        object-fit: cover;
      }
    }

    &__name-wrap {
      padding: 15px 30px;
      border-bottom: 1px solid #080808;
    }

    &__name {
      padding: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: transparent;

      &.collapsed {
        img {
          transform: rotate(90deg);
        }
      }

      img {
        width: 10px;
        display: block;
        margin-right: 10px;
        transform: rotate(-90deg);
        transition: all 0.4s ease-in-out;
      }

      span {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
    }

    &__collapse-wrap {
      padding: 15px 0 0;
    }

    &__collapse-info {
      padding: 0;
    }

    &__sub-category-name {
      color: #000000;
      font-size: 12px;
      text-transform: uppercase;
      padding: 0 0 15px 25px;
    }

    .col-fleet-info {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__info {
      padding: 12px 0 0;
      background-color: #666d73;

      &__image {
        margin-bottom: 17px;
      }

      &__image-plan {
        margin-bottom: 25px;
      }

      &__title {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      &__desc {
        color: #fff;
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 20px;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  .section-fleet {
    .fleet-category {
      &__wrap {
        height: 100%;
        border-right: 1px solid #080808;
      }

      &__nav-item {
        color: #000000;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__name {
        display: flex;
        cursor: pointer;
        position: relative;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #080808;
        transition: all 0.4s ease-in-out;

        &.active {
          padding: 10px 15px;
          border-bottom: none;
          background-color: $main;

          img {
            transform: rotate(180deg);
          }

          span {
            color: #fff;
            font-weight: 600;
          }
        }


        img {
          top: -5px;
          width: 10px;
          left: -25px;
          position: absolute;
          margin-right: 10px;
          transform: rotate(0deg);
          transition: all 0.4s ease-in-out;
        }

        span {
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          transition: all 0.4s ease-in-out;
        }
      }

      &__info {
        &__image {
          margin-bottom: 70px;
        }

        &__image-plan {
          margin-bottom: 0;
        }

        &__title {
          color: #000000;
          margin-bottom: 5px;
        }

        &__desc {
          color: #000;
          margin-bottom: 35px;
        }
      }
    }

    .col-fleet-info {
      padding-left: 15px;
      padding-right: 15px;
    }

    .row-fleet {
      .n-col-2 {
        padding-right: 0;
      }

      .n-col-6 {
        padding-left: 0;
      }
    }
    
    .container {
      overflow: hidden;
    }
    
    .tab-content {
      position: relative;
    }

    .tab-pane {
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      position: absolute;
      padding: 155px 30px 200px;
      
      &.show {
        opacity: 1;
        position: relative;
      }
    }

    .nav-tabs {
      border-bottom: none;
    }

    .nav-item {
      margin-bottom: 150px;

      &:first-child {
        margin-top: 120px;
      }
    }

    .big-fleet-image {
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 2;
      transition: all 0.7s ease-in-out;

      &.hide {
        transform: translateX(100%);
      }

      img {
        object-fit: cover;
      }
    }


    .fleet-category-slider {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      padding-bottom: 0;

      .slick-list, .slick-track {
        height: 100%;
      }

      .slick-dots {
        left: 150px;
        bottom: 75px;

        li {
          &:before {
            border-color: #fff;
          }

          button {
            background-color: #fff;
          }
        }
      }
    }
  }
}
