.human-resources-main-section {
  .title-wrap {
    padding-bottom: 0 !important;
    margin-bottom: 55px !important;

    &:before {
      display: none !important;
    }
  }

  .section-title {
    margin-left: 0 !important;
  }
}

.personal-section {
  padding: 55px 0 75px;

  .personal-name {
    margin-left: 30px;
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .row-personal {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .resources-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      color: #000000;
      font-size: 13px;
      line-height: 20px;
    }

    img {
      width: 10px;
      height: 10px;
      margin-top: 6px;
      margin-right: 20px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .human-resources-main-section {
    .title-wrap {
      margin-bottom: 70px !important;
    }
  }

  .personal-section {
    padding: 225px 0 195px;

    .row-personal {
      margin-bottom: 115px;
    }

    .personal-name {
      margin-left: 0;
      font-size: 30px;
      max-width: 270px;
      margin-bottom: 0;
      line-height: 36px;
    }

    .resources-list {
      max-width: 62.5%;
    }

    .resources-list-item {
      margin-bottom: 30px;

      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}
