.main-section {
  padding-top: 40%;
  min-height: 100vh;
  background-color: $main;

  .layout-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }

    img, video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__description {
    color: #fff;
    line-height: 18px;
    margin-bottom: 35%;
  }
}

.solution-section {
  padding-top: 95px;

  .slider-wrap {
    width: calc(100% + 10px);
  }

  .solution-slider {
    padding-bottom: 30px;
    margin-bottom: 50px;

    .slick-list {
      padding-right: 90px;
    }

    .slide {
      margin-right: 20px;
      transition: all 0.4s ease-in-out;

      &:not(.slick-current) {
        opacity: 0.5;
      }
    }

    .image-wrap {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .solution-name {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.project-section {
  padding-top: 95px;

  .slider-wrap {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
  }

  &__slider {
    padding-bottom: 25px;
    margin-bottom: 50px;

    .slick-list {
      padding-right: 40px;
    }

    .slide {
      margin-right: 20px;
      transition: all 0.4s ease-in-out;

      &:not(.slick-current) {
        opacity: 0.5;
      }
    }

    .image-wrap {
      width: 100%;
    }
    
    .slick-dots {
      left: 10px;
    }
  }
  
  .link-btn {
    margin-bottom: 50px;
  }

  &__numbers-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }

  &__number {
    color: #000;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__number-description {
    color: #000;
    font-size: 12px;
    line-height: 18px;
  }

  .link-btn {
    width: 160px;
    margin-top: 20px;
  }
}

.about-section {
  padding: 95px 0;

  .col-number {
    margin-bottom: 35px;
  }

  &__number {
    color: #000;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__number-desc {
    color: #000;
    font-size: 13px;
    line-height: 20px;
  }

  .images-wrap {
    flex-direction: column;
    margin-bottom: 60px;

    img {
      max-width: 220px;

      &:nth-child(1) {
        margin-right: auto;
      }

      &:nth-child(2) {
        transform: translateY(-25px);
        margin-left: auto;
      }
    }
  }

  .link-btn {
    width: 160px;
    margin: 0 auto;
  }
}

.fleet-section {
  padding: 95px 0;
  background-color: $main;

  .section-title-big {
    position: relative;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 120px;
      border: 1px solid #d8d8d8;
    }
  }

  .section-description {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
  }

  .image-wrap {
    width: 240px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .col-fleet {
    margin-bottom: 40px;
  }

  .col-top-info {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: #fff;
    }
  }

  .fleet-name {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .fleet-title {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .fleet-sub-title {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .custom-btn {
    &:before {
      background-color: #fff;
      opacity: 0.5;
    }
  
    &.aos-animate {
      &:before {
        animation-delay: 0.8s;
      }
    
      &:after {
        animation-delay: 0.9s;
      }
    
      span {
        animation-delay: 0.9s;
      }
    }
  }
}

.news-section {
  padding: 95px 0;

  .section-title {
    margin-bottom: 60px;
  }

  .col-news {
    &:last-child {
      .bottom-wrap {
        border-bottom: none;
      }
    }
  }

  .news-title {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .bottom-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }

  .news-date {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    padding: 5px 7px 5px 15px;
    background-color: #7e8287;
  }

  .news-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #000;
      font-size: 14px;
      line-height: 14px;
      margin-right: 25px;
    }

    img, svg {
      width: 50px;
      min-width: 50px;
    }
  }

  .link-btn {
    width: 140px;
    margin: 0 auto;
  }
}

@include media-breakpoint-up('lg') {
  .main-section {
    padding-top: 225px;

    &__title {
      font-size: 48px;
      line-height: 72px;
      max-width: 720px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
      max-width: 420px;
      margin-bottom: 150px;
    }

    .custom-btn {
      margin-top: 10px;
    }

    .services-wrap {
      display: flex;
      margin-bottom: 80px;
    }

    .service-item {
      position: relative;
      min-width: 120px;
      max-width: 120px;
      margin-right: 25px;

      &:hover {
        .service-image {
          opacity: 0;

          &.hidden {
            opacity: 1;
          }
        }
      }
    }

    .service-image {
      width: 70px;
      height: 70px;
      margin-bottom: 30px;
      transition: all 0.5s ease-in-out;

      &.hidden {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 70px;
        height: 70px;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }

    .service-desc {
      color: #ffffff;
      font-size: 13px;
      line-height: 20px;
    }
  }

  .solution-section {
    padding-top: 300px;

    .section-text {
      margin-bottom: 0;
    }

    .col-text {
      margin-bottom: 140px;
    }

    .nav-link {
      cursor: pointer;
      transition: all .35s ease-in-out;
    }

    .tab-wrap {
      position: relative;
      width: 100%;
    }

    .tab-panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
      transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1);

      &.show {
        opacity: 1;
        z-index: 1;
        position: relative;
      }
    }
    
    .solution-desktop-slider {
      margin-bottom: 0;
      padding-bottom: 0;
      
      .slick-track {
        display: flex;
      }
      
      .slick-dots {
        left: auto;
        right: 50px;
        bottom: 25px;
        
        li {
          &:before {
            border-color: #fff;
          }
          
          button {
            background-color: #fff;
          }
        }
      }
      
      .slide {
        display: flex;
        height: auto;
      }
      
      .img-wrap {
        height: 420px;
        
        img {
          object-fit: cover;
        }
      }
    }

    .image-wrap {
      height: 420px;

      img {
        object-fit: cover;
      }
    }
  }

  .project-section {
    padding-top: 120px;

    .section-title {
      margin-bottom: 125px;
    }

    .section-description {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 65px;
    }

    .section-text {
      margin-bottom: 60px;
    }

    .slider-wrap {
      left: 0;
      width: calc(100% + 70px);
    }

    .link-btn {
      width: auto;
      margin-top: 0;
    }

    &__slider {
      padding-bottom: 45px;
      margin-bottom: 65px;

      .slick-list {
        padding-right: 0;
      }

      .slide {
        margin-right: 0;
      }

      .slick-dots {
        right: 0;
        left: auto;
        width: auto;
      }
      
      .image-wrap {
        height: 560px;
        transform-origin: right bottom;
      }
    }

    &__numbers-wrap {
      margin-bottom: 30px;
    }

    &__number {
      font-size: 48px;
      font-weight: 300;
      line-height: 72px;
      margin-bottom: 0;
    }

    &__number-description {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .about-section {
    padding-top: 300px;
    padding-bottom: 190px;

    .link-btn {
      display: inline-flex;
      width: auto;
    }

    .section-text {
      margin-bottom: 40px;
    }

    .col-numbers-wrap {
      margin-bottom: 140px;
    }

    .col-number {
      margin-bottom: 0;
    }

    &__number {
      margin-bottom: 0;
    }

    &__number-desc {
      font-size: 15px;
      line-height: 20px;
    }

    &__slider {
      padding-bottom: 45px;
      margin-bottom: 40px;

      .slick-list {
        padding-right: 450px;
      }

      .slide {
        padding-right: 30px;
        height: 500px;

        &:not(.slick-current) {
          .image-wrap {
            img {
              height: 290px;
            }
          }
        }
      }

      .image-wrap {
        display: flex;
        align-items: flex-end;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          transition: all 0.6s ease-in-out;
        }
      }

      .slick-dots {
        left: auto;
        right: 0;
      }
    }
  }

  .fleet-section {
    padding: 225px 0;

    .col-info {
      margin-bottom: 290px;
    }

    .section-title-big {
      color: #e5e5e5;
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 70px;
      padding-bottom: 70px;
    }

    .section-description {
      color: #dbdbdb;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 0;
    }

    .image-wrap {
      width: 420px;
      margin-bottom: 0;

      img {
        object-fit: contain;
        object-position: right;
      }
    }

    .fleet-name {
      font-size: 18px;
    }

    .fleet-title {
      font-size: 15px;
    }

    .fleet-sub-title {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .col-fleet {
      margin-bottom: 160px;
    }

    .col-top-info {
      padding-bottom: 10px;
      margin-bottom: 40px;
    }

    .col-btn {
      margin-top: 190px;
    }
  }

  .news-section {
    padding: 225px 0 60px;
    overflow: hidden;

    .col-news {
      position: relative;
      cursor: pointer;
      
      &.aos-animate {
        &:before, &:after {
          animation: news-line 0.5s cubic-bezier(0.8, 0.4, 0.6, 1) both;
        }
      }

      &:hover {
        .news-title {
          color: #fff;
          text-decoration: underline !important;
        }

        .news-link {
          span {
            color: #fff;
          }
          
          img, svg {
            path {
              fill: #fff !important;
              stroke: #fff !important;
            }
          }
        }
        
        .news-image {
          width: 100%;
        }
      }

      &:before, &:after {
        content: '';
        position: absolute;
        bottom: -100%;
        width: 1px;
        height: 999999px;
        background-color: #d8d8d8;
      }

      &:before {
        left: 0;
      }

      &:after {
        display: none;
        right: 0;
      }

      &:last-child {
        &:after {
          display: block;
        }
      }
    }

    .col-news-wrap {
      margin-bottom: 90px;
    }

    .news-title {
      color: #000;
      font-size: 30px;
      line-height: 36px;
      padding-left: 20px;
      margin-bottom: 50px;
      transition: all 0.5s ease-in-out;
    }

    .news-date {
      position: relative;
      left: -10px;
    }
    
    .news-image {
      left: 0;
      right: 0;
      width: 0;
      top: -225px;
      z-index: -1;
      object-fit: cover;
      position: absolute;
      transition: all 0.5s ease-in-out;
  
      &:before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        background-color: rgba(0,0,0,.6);
      }
      
      img {
        object-fit: cover;
      }
    }

    .news-link {
      margin-right: 15%;

      img, svg {
        transition: all 0.5s ease-in-out;
  
        path {
          transition: all 0.5s ease-in-out;
        }
      }
      
      span {
        transition: all 0.5s ease-in-out;
      }
    }

    .bottom-wrap {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    .link-btn {
      display: inline-flex;
      width: auto;
    }
  }
}
