.news-selected-main-section {
  .news-info-row {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
  }

  .news-data {
    margin-right: 60px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
  }

  .news-link {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-decoration: underline !important;
  }

  .section-description {
    color: #fff;
    font-size: 26px !important;
    line-height: 30px !important;
    margin-bottom: 40px !important;
  }
}

.news-selected-info-section {
  padding: 45px 0;

  .news-selected-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .news-selected-text {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .news-selected-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .news-selected-image-text {
    color: #000;
    font-size: 11px;
    line-height: 20px;
  }

  .share-wrap {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 35px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .share-text {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    margin-right: 40px;
  }

  .share-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    a {
      width: 15px;
      height: 15px;
      margin-right: 30px;

      img {
        width: auto;
        margin: 0 auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.other-news {
  padding: 70px 0 75px;
  background-color: $main;

  .col-news {
    &:last-child {
      .bottom-wrap {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .news-title {
    color: #fff;
  }

  .news-link {
    span {
      color: #fff;
    }
  }

  .bottom-wrap {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
  }

  .news-date {
    background-color: #fff;
    color: #000000;
  }
}

@include media-breakpoint-up('lg') {
  .news-selected-main-section {
    padding-bottom: 70px;

    .section-description {
      margin-top: 0 !important;
      font-size: 30px !important;
      line-height: 36px !important;
      margin-bottom: 0 !important;
    }

    .news-all-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 35px;

      .link-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        margin-right: 15px;
        border-radius: 100%;

        img {
          width: 15px;
          transform: rotate(90deg);
        }
      }

      .link-text {
        color: #fff;
        font-size: 12px;
      }
    }
  }

  .news-selected-info-section {
    padding: 155px 0 140px;

    .event-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .event-name {
      color: #000;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 40px;

      &.link {
        text-decoration: underline !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .share-icons {
      a {
        margin-right: 20px;
      }
    }

    .news-selected-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .news-selected-text {
      margin-bottom: 60px;
    }

    .news-selected-image {
      align-items: flex-end;
      margin-bottom: 45px;

      img {
        margin-bottom: 5px;
      }
    }

    .images-list {
      .news-selected-image-text {
        font-size: 11px;
        line-height: 20px;
      }
    }
  }

  .other-news {
    padding: 145px 0 175px;

    .section-title {
      color: #fff;
    }

    .col-news {
      &:hover {
        .news-title {
          color: #fff;
        }
        
        .news-link {
          span {
            color: #fff;
          }
        }
      }
    }

    .bottom-wrap {
      padding-bottom: 100px;
      margin-bottom: 150px;
    }
  }
}
