.news-main-section {
  .section-title {
    margin-left: 0 !important;
  }
}

.news-page-section {
  padding: 25px 0 110px;

  .nav {
    border-bottom: none;
    margin-bottom: 75px;
  }

  .nav-item {
    &:last-child {
      .nav-link {
        margin-right: 0;
        padding-bottom: 5px !important;
      }
    }
  }

  .nav-link {
    border: none;
    color: #000000;
    display: block;
    font-size: 13px;
    padding: 0 0 5px;
    line-height: 14px;
    position: relative;
    margin-right: 25px;
    transition: all .35s ease-in-out;

    &.active {
      font-weight: 600;

      &:after {
        width: 100%;
      }
    }

    &:after {
      content: '';
      left: 0;
      right: 0;
      width: 0;
      bottom: 0;
      z-index: 1;
      height: 2px;
      position: absolute;
      background-color: $secondary;
      transition: all .35s ease-in-out;
    }
  }

  .col-news {
    &:last-child {
      .bottom-wrap {
        border-bottom: 1px solid #000;
        margin-bottom: 75px;
      }
    }
  }

  .show-more-btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;

    .image-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid $secondary;
      margin-right: 15px;
    }

    img {
      width: 10px;
      transform: rotate(90deg);
    }

    .text {
      color: #000000;
      font-size: 13px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .news-page-section {
    padding: 150px 0 100px;

    .nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 0;
    }

    .nav-link {
      margin-right: 0;
      margin-bottom: 15px;
      border-bottom: none !important;
    }

    .col-news-wrap {
      margin-bottom: 0;
    }

    .col-news {
      cursor: pointer;

      &:before, &:after {
        display: none !important;
      }

      &:hover {
        .news-title {
          color: #000;
          text-decoration: underline !important;
        }

        .news-link {
          img {
            width: 60px;
          }

          span {
            color: $secondary;
            font-weight: 600;
          }
        }
      }

      &:last-child {
        .bottom-wrap {
          margin-bottom: 100px;
        }
      }
    }

    .news-title {
      padding-left: 0;
      margin-bottom: 55px;
    }

    .bottom-wrap {
      padding-bottom: 100px;
      margin-bottom: 150px;
      border-bottom: 1px solid #080808;
    }

    .news-date {
      left: 0;
    }

    .news-link {
      img {
        transition: all 0.6s ease-in-out;
      }
    }
  }
}

