.privacy-main-section {
  .section-title {
    margin-left: 0 !important;
  }
}

.section-privacy-info {
  padding: 70px 0 45px;

  .privacy-title {
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .third-text-block {
    .text {
      margin-bottom: 15px;
    }
  }

  .text {
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 45px;
  }

  .text-block-title {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .privacy-list-text {
    margin-bottom: 45px;
  }

  .privacy-list-text-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 8px;
      height: 8px;
      margin-top: 6px;
      margin-right: 15px;
    }

    p {
      color: #000000;
      font-size: 13px;
      line-height: 20px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .section-privacy-info {
    padding: 155px 0;

    .privacy-title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    .third-text-block {
      .text {
        margin-bottom: 15px;
      }
    }

    .privacy-list-text {
      margin-bottom: 65px;
    }

    .privacy-list-text-item {
      img {
        margin-right: 25px;
      }
    }

    .text-block-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .text {
      margin-bottom: 80px;
    }
  }
}
