.section-project {
  &:last-child {
    .row-numbers {
      padding-bottom: 0;
      margin-bottom: 70px;

      &:after {
        display: none;
      }
    }
  }

  .project-info-wrap {
    margin-top: 50px;
  }

  .project-name {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .project-desc {
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 35px;
  }

  .project-slider {
    padding-bottom: 25px;
    margin-bottom: 40px;

    .slick-list {
      padding-right: 40px;
    }

    .slide {
      transition: all 0.6s ease-in-out;

      &:not(.slick-current) {
        opacity: 0.5;
      }
    }

    .slick-dots {
      left: 15px;
    }
  }

  .project-image {
    height: 200px;
    padding-right: 20px;

    img {
      object-fit: cover;
    }
  }

  .row-numbers {
    padding-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: #000;
      z-index: 1;
    }
  }

  .project-numbers-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }

  .project-big-number {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }

  .project-number-desc {
    color: #000000;
    font-size: 12px;
    line-height: 18px;
  }
}

@include media-breakpoint-up('lg') {
  .section-project {
    &:last-child {
      .row-numbers {
        margin-bottom: 175px;
      }
    }

    .project-info-wrap {
      margin-top: 155px;
    }

    .project-name {
      position: relative;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 40px;
      margin-bottom: 40px;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120px;
        height: 1px;
        background-color: #d8d8d8;
      }
    }

    .project-desc {
      font-size: 14px;
      margin-bottom: 90px;
    }

    .col-project-slider {
      top: 0;
      right: 0;
      padding: 0;
      position: absolute;
      width: 75%;
    }

    .project-slider {
      padding-bottom: 0;
      margin-bottom: 0;

      .slick-list {
        padding-right: 0;
      }

      .slide {
        &:not(.slick-current) {
          opacity: 1;
        }
      }

      .slick-dots {
        bottom: -40px;
        left: auto;
        right: 40px;
      }
    }

    .project-image {
      height: 800px;
      padding-right: 0;
    }

    .row-numbers {
      padding-bottom: 0;
      margin-bottom: 140px;

      &:after {
        display: none;
      }
    }

    .project-numbers-wrap {
      margin-bottom: 50px;
    }

    .project-big-number {
      font-size: 48px;
      margin-bottom: 10px;
    }

    .project-number-desc {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}
