.services-info-section {
  padding: 95px 0;

  .section-description {
    margin-bottom: 60px;
  }
}

.services-list-section {
  .service-name-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .service-image {
    width: 80px;
    height: 80px;
    margin-right: 60px;
  }

  .service-name {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  .col-service-item {
    margin-bottom: 70px;
  }

  .service-desc {
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 45px;
  }

  .service-collapse-link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 20px;

    span {
      display: block;
      color: #000000;
      margin-left: 15px;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
    }

    img {
      width: 10px;
    }
  }

  .service-collapse {
    padding: 0;
  }

  .collapse-text {
    padding: 0;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    margin-left: 67px;
    margin-bottom: 25px;
  }
}

@include media-breakpoint-up('lg') {
  .services-info-section {
    padding: 220px 0 180px;

    .section-description {
      margin-bottom: 70px;
    }

    .section-text {
      margin-bottom: 0;
    }
  }

  .services-list-section {
    padding-bottom: 50px;

    .service-name-wrap {
      margin-bottom: 0;
    }

    .service-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 205px;
      min-width: 205px;
      height: 205px;
      margin-right: 0;
    }

    .col-service-item {
      margin-bottom: 170px;
    }

    .service-info-wrap {
      margin-top: 70px;
    }

    .service-name {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .service-desc {
      margin-bottom: 50px;
    }

    .service-collapse-link {
      padding: 0;
      margin-bottom: 30px;

      span {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .collapse-text {
      margin-left: 30px;
      margin-bottom: 35px;
    }
  }
}
