.container {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 5;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

[class*='col'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='n-col'] {
  position: relative;
  width: 100%;
}

.n-col-1 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.n-col-2 {
  flex: 0 0 25%;
  max-width: 25%;
}

.n-col-3 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}

.n-col-4 {
  flex: 0 0 50%;
  max-width: 50%;
}

.n-col-5 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}

.n-col-6 {
  flex: 0 0 75%;
  max-width: 75%;
}

.n-col-7 {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}

.n-col-8 {
  flex: 0 0 100%;
  max-width: 100%;
}

.n-offset-0 {
  margin-left: 0;
}

.n-offset-1 {
  margin-left: 12.5%;
}

.n-offset-2 {
  margin-left: 25%;
}

.n-offset-3 {
  margin-left: 37.5%;
}

.n-offset-4 {
  margin-left: 50%;
}

.n-offset-5 {
  margin-left: 62.5%;
}

.n-offset-6 {
  margin-left: 75%;
}

.n-offset-7 {
  margin-left: 87.5%;
}

.n-offset-8 {
  margin-left: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  [class*='col'] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .n-col-lg-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .n-col-lg-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .n-col-lg-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .n-col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .n-col-lg-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .n-col-lg-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .n-col-lg-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .n-col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .n-offset-lg-0 {
    margin-left: 0;
  }

  .n-offset-lg-1 {
    margin-left: 12.5%;
  }

  .n-offset-lg-2 {
    margin-left: 25%;
  }

  .n-offset-lg-3 {
    margin-left: 37.5%;
  }

  .n-offset-lg-4 {
    margin-left: 50%;
  }

  .n-offset-lg-5 {
    margin-left: 62.5%;
  }

  .n-offset-lg-6 {
    margin-left: 75%;
  }

  .n-offset-lg-7 {
    margin-left: 87.5%;
  }

  .n-offset-lg-8 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 12.5%;
    padding-right: 12.5%;
    max-width: calc(1920px + 25%);
  }
}
