@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes custom-btn-shape {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 36px);
  }
}

@keyframes custom-btn-arrow {
  from {
    transform: translateX(-15px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes custom-btn-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes news-line {
  from {
    height: 0;
  }
  to {
    height: 800px;
  }
}

[data-aos] {
  body[data-aos-easing="easy-in-fast"] &,
  &[data-aos][data-aos-easing="easy-in-fast"] {
    transition-timing-function: cubic-bezier(0.8, 0.4, 0.6, 1);
  }
}

[data-aos] {
  body[data-aos-easing="easy-in"] &,
  &[data-aos][data-aos-easing="easy-in"] {
    transition-timing-function: cubic-bezier(0.3, 0.1, 0.4, 1);
  }
}

[data-aos] {
  body[data-aos-easing="easy-out"] &,
  &[data-aos][data-aos-easing="easy-out"] {
    transition-timing-function: cubic-bezier(0.1, 0.1, 0.6, 1);
  }
}

[data-aos^="fade-up-15"] {
  opacity: 0;
  transform: translateY(15px);
  
  &.aos-animate {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-aos^="slide-right-15"] {
  transform: translateX(-15px);
  transition-property: all !important;
  
  &.aos-animate {
    transform: translateX(0);
  }
}

[data-aos^="clip-left"] {
  clip-path: inset(0 0 0 100%);
  transition-property: clip-path;
  
  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos^="clip-right"] {
  clip-path: inset(0 100% 0 0);
  transition-property: clip-path;
  
  &.aos-animate {
    clip-path: inset(0 0 0 0);
  }
}

[data-aos^="btn-slide"] {
  clip-path: inset(0 100% 0 0);
  transition-property: all !important;
  
  &.aos-animate {
    clip-path: inset(0 -1px 0 0);
  }
}

[data-aos^="shape-slide"] {
  width: 0;
  transition-property: all !important;
  
  &.aos-animate {
    width: calc(100% - 36px);
  }
}

[data-aos^="block-scale"] {
  transform: scale(0.5);
  transition-property: all !important;
  
  &.aos-animate {
    transform: scale(1);
  }
}
