html, body {
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  height: 100%;
  scroll-behavior: smooth;
}

input, button, textarea, select, option {
  outline: none !important;
  border: none;
}

a, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-decoration: none !important;
}

section {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-wrap {
  position: relative;
  z-index: 1;
}

.slick-slide {
  outline: none !important;
}

.section-title {
  font-size: 12px;
  color: #000;
  margin-bottom: 40px;
}

.section-description {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 50px;
}

.section-text {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 30px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 36px;
  background-color: $main;

  span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
  }

}

.square-dots {
  padding-bottom: 25px;

  .slick-dots {
    left: 0;
    bottom: 0;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      position: relative;
      margin-left: 0;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        border: 1px solid #7a263a;
        transition: all 0.4s ease-in-out;
        transform: translate(-30%, -30%) scale(0);
      }

      &.slick-active {
        &:before {
          transform: translate(-30%, -30%) scale(1);
        }

        button {
          width: 5px;
          height: 5px;
        }
      }

      button {
        width: 7px;
        height: 7px;
        background-color: $main;
        padding: 0;
        transition: all 0.4s ease-in-out;

        &:before {
          display: none;
        }
      }
    }
  }
}

.line-dots {
  .slick-dots {
    display: flex;
    align-items: center;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;

    li {
      position: relative;
      margin: 0;
      width: 100%;
      height: 1px;
      background-color: #000;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 3px;
        width: 0;
        z-index: 1;
        background-color: $secondary;
        transition: all 0.4s ease-in-out;
      }

      &.to-right {
        &:before {
          right: auto;
          left: 0;
        }

        &.slick-active {
          &:before {
            left: auto;
            right: 0;
          }
        }
      }

      &.slick-active {
        &:before {
          left: 0;
          right: auto;
          width: 100%;
        }
      }

      button {
        display: none;
      }
    }
  }
}

main {
  overflow-x: hidden;

  &:not(#main-page) {
    section {
      &:first-child {
        display: flex;
        padding-top: 117px;
        flex-direction: column;
        background-color: $main;
        height: 100%;

        &.no-image {
          height: auto;

          .section-description {
            margin-bottom: 35px;
          }
        }

        .title-wrap {
          display: flex;
          position: relative;
          align-items: center;
          margin-bottom: 35px;
          padding-bottom: 35px;

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 140px;
            height: 1px;
            background-color: #fff;
            z-index: 1;
          }
        }

        .scroll-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-left: 17px;
          
          &:hover {
            .icon-wrap {
              &:before {
                background-color: #fff;
              }
              
              path {
                stroke: $main;
              }
            }
          }

          .icon-wrap {
            width: 25px;
            height: 25px;
            position: relative;
            border-radius: 100%;
            
            &:before {
              content: '';
              top: 0;
              right: 0;
              left: 1px;
              bottom: 1px;
              z-index: -1;
              position: absolute;
              border-radius: 100%;
              transition: all 0.4s ease-in-out;
            }
          }

          img, svg {
            top: 50%;
            left: 50%;
            z-index: 1;
            width: auto;
            height: auto;
            position: absolute;
            transform: translate(-50%, -50%);
            
            path {
              transition: all 0.4s ease-in-out;
            }
          }
        }

        .section-title {
          color: #fff;
          font-size: 26px;
          line-height: 30px;
          margin-left: 40px;
          margin-bottom: 0;
        }

        .section-description {
          font-size: 12px;
          color: #fff;
          line-height: 18px;
          margin-bottom: 70px;
        }

        .about-main-image {
          width: 100%;
          height: 300px;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

.custom-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  border: 1px solid #ffffff;
  padding: 6px 24px 6px 6px;
  background-color: transparent;
  
  &.aos-animate {
    &:before {
      animation: custom-btn-shape 0.9s cubic-bezier(0.8, 0.4, 0.6, 1) 2.2s backwards;
    }
    
    &:after {
      animation: custom-btn-arrow 0.9s cubic-bezier(0.8, 0.4, 0.6, 1) 2.3s both;
    }
    
    span {
      animation: custom-btn-text 0.9s cubic-bezier(0.1, 0.1, 0.6, 1) 2.3s both;
    }
  }
  
  &:after {
    content: '';
    top: 23px;
    width: 0;
    height: 0;
    z-index: 2;
    right: 8px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 6.5px 0 6.5px 6px;
    transition: all 0.6s ease-in-out;
    border-color: transparent transparent transparent #fff;
  }
  
  &:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    position: absolute;
    margin: 6px 0 6px 6px;
    width: calc(100% - 36px);
    transition: all 0.6s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  span {
    position: relative;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
    z-index: 2;
    transition: all 0.6s ease-in-out;
  }
  
  &:hover {
    &:before {
      background-color: #fff;
      width: calc(100% - 12px) !important;
    }
    
    &:after {
      right: 20px;
      border-color: transparent transparent transparent $main;
    }
    
    span {
      color: $main;
    }
  }
}

.main-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  position: fixed;
  background-color: $main;
  transform: translateY(100%);
  transition: all 1s cubic-bezier(0.8, 0.4, 0.6, 1);
  
  &.active {
    transform: translateY(0);
  }
}

@include media-breakpoint-up('lg') {
  .section-description {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  .section-text {
    line-height: 20px;
  }

  .link-btn {
    position: relative;
    display: inline-flex;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0 0 10px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 1px;
      background-color: #7a263a;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: -10px;
      width: 0;
      height: 0;
      opacity: 0;
      border-style: solid;
      border-width: 6px 0 6px 7px;
      transition: all 0.4s ease-in-out;
      border-color: transparent transparent transparent $secondary;
    }
  
    &.aos-animate {
      &:before {
       animation: width 0.3s cubic-bezier(0.8, 0.4, 0.6, 1) 0.2s both;
      }
    }

    &:hover {
      &:after {
        left: 0;
        opacity: 1;
      }
      
      span {
        padding-left: 20px;
      }
    }

    span {
      color: #000000;
      font-weight: 500;
      line-height: 14px;
      transition: all 0.4s ease-in-out;
    }
  }

  .custom-btn {
    width: 270px;
    height: 60px;
    padding-right: 30px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .nav-item {
    &:last-child {
      .nav-link {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
  
        &:after {
          display: none;
        }
      }
    }
  }

  .nav-link {
    position: relative;
    max-width: 220px;
    color: #000000;
    line-height: 16px;
    margin-bottom: 20px;
    padding: 0 0 20px;
    text-transform: uppercase;
    border-radius: 0 !important;
    
    &.aos-animate {
      &:after {
        animation: width 0.7s cubic-bezier(0.8, 0.4, 0.6, 1) 1s both;
      }
    }
    
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 0;
      background-color: #d8d8d8;
    }

    &.active {
      background-color: transparent !important;
      color: #000 !important;
      font-weight: 600;
    }
  }

  .col-tab {
    margin-bottom: 85px;
  }

  main {
    &:not(#main-page) {
      section {
        &:first-child {
          padding-top: 225px;
          height: 100vh;

          &.no-image {
            height: auto;

            .section-description {
              margin-bottom: 0;
            }
          }

          .title-wrap {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-bottom: 70px;
            padding-bottom: 0;

            &:before {
              display: none;
            }
          }

          .section-title {
            font-size: 48px;
            line-height: normal;
            margin-left: 0;
            margin-bottom: 35px;
          }

          .section-description {
            font-size: 13px;
            margin-top: 20px;
            margin-bottom: 70px;
          }

          .scroll-box {
            display: flex;
            margin-left: 0;
            cursor: pointer;
            align-items: center;
            justify-content: flex-start;

           .icon-wrap {
             width: 30px;
             height: 30px;
             margin-right: 15px;
  
             &:before {
               top: 3px;
               left: 3px;
               right: 2px;
               bottom: 2px;
             }
           }

            span {
              color: #fff;
              font-size: 12px;
            }
          }

          .about-main-image {
            height: calc(100% - 193px);
          }
        }
      }
    }
  }
}
