.feedback-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 1s cubic-bezier(0.8, 0.4, 0.6, 1) 1s;
  
  &:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    background-color: #666d73;
    transform: translateY(100%);
    transition: all 1s cubic-bezier(0.8, 0.4, 0.6, 1) 1s;
  }

  &.active {
    z-index: 99999;
    transition-delay: 0s;
    
    &:before {
      transform: translateY(0);
      transition-delay: 0s;
    }
    
    .modal-close {
      opacity: 1;
      transition-delay: 1s;
    }
    
    .modal-title {
      opacity: 1;
      transition-delay: 1s;
    }
    
    .modal-desc {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.2s;
    }
    
    .form-wrap {
      opacity: 1;
      transition-delay: 1s;
    }
    
    input {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 1.2s;
    }
    
    .submit-btn {
      &:before {
        width: 100%;
        transition-delay: 1.4s;
      }
      
      span {
        opacity: 1;
        transition-delay: 1.4s;
      }
    }
  }

  .modal-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-bottom: none;
  }

  .modal-title {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    opacity: 0;
    transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1) 0s;
  }
  
  .modal-desc {
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.5s cubic-bezier(0.8, 0.4, 0.6, 1) 0.5s;
  }

  .modal-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 4px rgba(105, 105, 105, 0.22);
    opacity: 0;
    transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1) 0s;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 19px;
      height: 1px;
      background-color: #fff;
      z-index: 1;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  
  .form-wrap {
    opacity: 0;
    transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1) 0s;
  }

  .inputs-wrap {
    display: flex;
    flex-direction: column;
    background-color: $main;
    padding: 55px 25px 0 80px;
    height: calc(100vh - 140px);

    input {
      -webkit-appearance: none;
      background-color: transparent;
      border-bottom: 1px solid #666d73;
      color: #fff;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &::placeholder {
        color: #fff;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  .submit-btn {
    padding: 0;
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    
    &:before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      bottom: 0;
      position: absolute;
      background-color: #fff;
      transition: all 1s cubic-bezier(0.8, 0.4, 0.6, 1) 0s;
    }

    span {
      opacity: 0;
      z-index: 1;
      color: $main;
      font-size: 14px;
      font-weight: 600;
      position: relative;
      text-transform: uppercase;
      transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1) 0s;
    }
  }
  
  input {
    opacity: 0;
    transform: translateX(15px);
    transition: all 1s cubic-bezier(0.1, 0.1, 0.6, 1) 0s;
  }
}

@include media-breakpoint-up('lg') {
  .feedback-modal {
    display: flex;
    align-items: center;

    .modal-header {
      position: unset;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .modal-close {
      width: auto;
      height: auto;
      background-color: transparent;
      top: 10vh;
      right: 50px;
      transform: none;
      display: flex;
      flex-direction: column;
      z-index: 5;

      .text {
        margin-top: 22px;
        color: #ffffff;
        font-size: 12px;
      }
    }

    .modal-title {
      font-size: 12px;
      margin-bottom: 90px;
    }

    .modal-desc {
      color: #ffffff;
      font-size: 30px;
      line-height: 36px;
    }

    .form-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      padding: 0 300px 0 150px;
      background-color: $main;
    }

    .inputs-wrap {
      justify-content: center;
      padding: 0;
      height: auto;
      background-color: transparent;
    }

    .submit-btn {
      width: 270px;
      height: 60px;
      margin-top: 85px;
     
      &:before {
        background-color: #666d73;
      }

      span {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
