.footer {
  padding: 95px 0 70px;
  background-color: #666d73;
  
  .footer-logo {
    transition: all .4s ease-in-out;
    
    &:hover {
      opacity: .75;
    }
  }

  .link-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
  }

  .link-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #fff;
      transition: all 0.4s ease-in-out;
      
      &:hover {
        opacity: .75;
      }
    }
  }

  .contact-links-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }

  .mail-link {
    color: #fff;
    position: relative;
    display: block;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
    
    &:hover {
      &:before {
        background-color: $secondary;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      max-width: 135px;
      background-color: #fff;
      z-index: 1;
      transition: all 0.4s ease-in-out;
    }
  }

  .phone-link {
    opacity: 0.49;
    color: #fff;
    font-size: 22px;
    line-height: 36px;
    transition: all 0.4s ease-in-out;
    
    &:hover {
      opacity: 1;
    }
  }

  .address-wrap {
    margin-bottom: 55px;
  }

  .address-text {
    color: #fff;
    font-size: 12px;
    line-height: 16px;

    &:first-child {
      font-weight: 700;
    }
  }

  .socials-wrap {
    margin-bottom: 0;
  }
  
  .social-link {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    
    &:hover {
      opacity: 1;
    }
  }
}

.copyright {
  padding: 70px 0 45px;
  background-color: $main;

  .footer-logo {
    width: 160px;
    margin-bottom: 44px;
  }

  .footer-text {
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .footer-link {
    color: #fff;
    font-size: 11px;
    line-height: 24px;
    text-decoration: underline !important;
    margin-bottom: 15px;
  }

  .footer-made {
    color: #fff;
    font-size: 11px;

    span {
      color: inherit;
      font-size: inherit;
      font-weight: 600;
    }
  }
}

@include media-breakpoint-up('lg') {
  .footer {
    padding: 80px 0;

    .footer-logo {
      width: 160px;
      height: 40px;
    }

    .link-list {
      margin-bottom: 0;
    }
  }

  .copyright {
    padding: 18px 0;

    .footer-text, .footer-link {
      margin-bottom: 0;
    }

    .footer-link {
      text-decoration: none !important;
    }
  }
}
