.global-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;

  &.active {
    transform: translateX(0%);
  }

  &__header {
    min-height: 72px;
    display: flex;
    align-items: center;
    background-color: $main;
  }

  &__title {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
  }

  &__close {
    position: relative;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 4px rgba(105, 105, 105, 0.22);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 19px;
      height: 1px;
      background-color: #fff;
      z-index: 1;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color: #666d73;
  }

  .links-list {
    margin-top: 55px;
    margin-bottom: 60px;

    &__item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: #fff;
      }
    }
  }

  .feedback-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $main;
    margin-bottom: 12px;

    span {
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.socials-wrap {
  display: flex;
  margin-bottom: 70px;

  .social-link {
    width: 25px;
    height: 25px;
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.lang-select {
  position: relative;

  &.is-selected {
    &:before {
      transform: translateY(-50%) rotate(180deg);
    }

    .lang-items {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }
}

.lang-value {
  position: relative;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 15px;
}

.lang-items {
  position: absolute;
  top: calc(100% + 5px);
  opacity: 0;
  transition: all 0.4s ease-in-out;

  .lang-item {
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
  }
}
