.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: all 0.6s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 0;
    background-color: $main;
    transition: all 0.6s ease-in-out;
  }

  &.active {
    &:before {
      height: 100%;
    }

    .header__menu {
      box-shadow: 0 0 4px #14303d;
      background-color: #1f3e4c;
    }
  }
  
  &.hide {
    transform: translateY(-100%);
  }

  &__logo {
    width: 160px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 4px rgba(105, 105, 105, 0.22);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;

    span {
      background-color: #fff;
      height: 1px;
      margin-bottom: 5px;

      &:nth-child(1) {
        width: 20px;
      }

      &:nth-child(2) {
        width: 27px;
      }

      &:nth-child(3) {
        width: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  .header {
    height: auto;
    padding: 30px 0;

    .container-fluid {
      max-width: 2060px;
      padding: 0 70px;
    }

    &__logo {
      width: 220px;
      height: 50px;
    }

    .links-list {
      display: flex;
      align-items: center;

      a {
        position: relative;
        display: flex;
        color: #fff;
        margin-right: 30px;
        padding-bottom: 10px;

        &.active {
          &:before {
            width: 100%;
          }
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          width: 0;
          background-color: $secondary;
          transition: all .35s ease-in-out;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .lang-select {
      cursor: pointer;
      margin-right: 35px;
    }

    .feedback-btn {
      width: 150px;
      min-width: 150px;
      height: 40px;
      border: 1px solid #fff;
      background-color: rgba(31, 62, 76, 0.5);
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: #ffffff;

        span {
          color: $main;
        }
      }

      span {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
