<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="n-col-lg-2 d-none d-lg-flex">
        <a href="/" class="image-wrap footer-logo">
          <img src="images/FooterLogo.svg" alt="Footer logo">
        </a>
      </div>

      <div class="n-col-6 n-offset-2 n-col-lg-2 n-offset-lg-1">
        <ul class="link-list">
          <li class="link-item">
            <a href="about.html">About us</a>
          </li>
          <li class="link-item">
            <a href="services.html">Services</a>
          </li>
          <li class="link-item">
            <a href="projects.html">Projects</a>
          </li>
          <li class="link-item">
            <a href="fleet.html">Our fleet</a>
          </li>
          <li class="link-item">
            <a href="news.html">News</a>
          </li>
          <li class="link-item">
            <a href="human-resources.html">Human resources</a>
          </li>
          <li class="link-item">
            <a href="contacts.html">Contact</a>
          </li>
        </ul>
      </div>

      <div class="n-col-6 n-offset-2 n-col-lg-2 n-offset-lg-1">
        <div class="contact-links-wrap">
          <a href="mailto:" class="mail-link">mail@navidux.com</a>
          <a href="tel:+232 876-766-98" class="phone-link">+232 876-766-98</a>
          <a href="tel:+232 876-766-98" class="phone-link">+232 876-766-98</a>
        </div>
        <div class="address-wrap">
          <p class="address-text">Navidux Shipping SARL</p>
          <p class="address-text">Rue Ferdinand Holder 23,</p>
          <p class="address-text">1207 Geneva, Switzerland</p>
        </div>
        <div class="socials-wrap">
          <a href="#" class="social-link">
            <img src="images/Instagram.svg" alt="Instagram">
          </a>
          <a href="#" class="social-link">
            <img src="images/Linkedin.svg" alt="Linkedin">
          </a>
          <a href="#" class="social-link">
            <img src="images/Facebook.svg" alt="Facebook">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="main-overlay"></div>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="n-col-4 n-offset-2 n-col-lg-8 n-offset-lg-0">
        <div class="row">
          <div class="n-col-8 d-flex d-lg-none">
            <div class="image-wrap footer-logo d-flex d-lg-none">
              <img src="images/FooterLogo.svg" alt="Footer">
            </div>
          </div>
          <div class="n-col-8 n-col-lg-2">
            <p class="footer-text">© 2020. Navidux Shipping. All rights reserved.</p>
          </div>
          <div class="n-col-8 n-col-lg-2 n-offset-lg-1">
            <a href="privacy.html" class="footer-link">Privacy Policy</a>
          </div>
          <div class="n-col-8 n-col-lg-2 n-offset-lg-1">
            <a href="#" class="footer-made">Made by <span>MaxMaruan</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="global-menu d-flex d-xl-none">
  <div class="global-menu__header">
    <div class="container">
      <div class="row">
        <div class="n-col-2 n-offset-2 d-flex align-items-center">
          <h5 class="global-menu__title">Menu</h5>
        </div>
        <div class="n-col-4 d-flex justify-content-end align-items-center">
<!--          <div class="lang-select">-->
<!--            <span class="lang-value">EN</span>-->
<!--            <div class="lang-items">-->
<!--              <a href="#" class="lang-item">SW</a>-->
<!--            </div>-->
<!--          </div>-->
          <div class="global-menu__close">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="global-menu__content">
    <div class="container">
      <div class="row">
        <div class="n-col-6 n-offset-2">
          <ul class="links-list">
            <li class="links-list__item">
              <a href="about.html">About us</a>
            </li>
            <li class="links-list__item">
              <a href="services.html">Services</a>
            </li>
            <li class="links-list__item">
              <a href="projects.html">Projects</a>
            </li>
            <li class="links-list__item">
              <a href="fleet.html">Our fleet</a>
            </li>
            <li class="links-list__item">
              <a href="news.html">News</a>
            </li>
            <li class="links-list__item">
              <a href="human-resources.html">Human resources</a>
            </li>
            <li class="links-list__item">
              <a href="contacts.html">Contact</a>
            </li>
          </ul>
          <div class="socials-wrap">
            <a href="#" class="social-link">
              <img src="images/Instagram.svg" alt="Instagram">
            </a>
            <a href="#" class="social-link">
              <img src="images/Linkedin.svg" alt="Linkedin">
            </a>
            <a href="#" class="social-link">
              <img src="images/Facebook.svg" alt="Facebook">
            </a>
          </div>
        </div>
        <div class="n-col-8">
          <button type="button" class="feedback-btn">
            <span>Let's talk</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feedback-modal">
  <div class="container">
    <div class="row">
      <div class="n-col-8 n-col-lg-2">
        <div class="modal-header">
          <h2 class="modal-title">Contact form</h2>

          <h3 class="modal-desc d-none d-lg-block">
            For business request or just to say hello — feel free to contact us.
          </h3>

          <div class="modal-close d-flex d-lg-none">
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="n-col-8 n-col-lg-6">
        <form action="#" class="form-wrap">
          <div class="inputs-wrap">
            <input type="text" name="companyName" placeholder="Company name" required>
            <input type="text" name="website" placeholder="Website">
            <input type="text" name="contactName" placeholder="Contact name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="message" placeholder="Message">
          </div>
          <button type="submit" class="submit-btn"><span>Send</span></button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-close d-none d-lg-flex">
    <img src="images/CloseIcon.svg" alt="Close">
    <p class="text">Close</p>
  </div>
</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script defer src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script defer src="js/bundle.js?v=1.1"></script>
</body>
</html>
