<header class="header">
  <div class="container-fluid" data-aos="fade-in" data-aos-easing="easy-out" data-aos-delay="200">
    <div class="row">
      <div class="n-col-6 n-col-lg-2 d-flex align-items-center">
        <a href="/" class="header__logo image-wrap">
          <img src="images/Logo.svg" alt="Logo">
        </a>
      </div>
      <div class="n-col-2 d-flex justify-content-end align-items-center d-lg-none">
        <div class="header__menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="n-col-lg-5 n-offset-lg-1 d-none d-lg-flex align-items-center justify-content-between">
        <div class="links-list">
          <a href="about.html">About us</a>
          <a href="services.html">Services</a>
          <a href="projects.html">Projects</a>
          <a href="fleet.html">Our fleet</a>
          <a href="news.html">News</a>
          <a href="contacts.html">Contact</a>
        </div>
<!--        <div class="lang-select">-->
<!--          <span class="lang-value">EN</span>-->
<!--          <div class="lang-items">-->
<!--            <a href="#" class="lang-item">SW</a>-->
<!--          </div>-->
<!--        </div>-->
        <button type="button" class="feedback-btn">
          <span>Let's talk</span>
        </button>
      </div>
    </div>
  </div>
</header>
