<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="about-page">
  <section class="about-main-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <div class="scroll-box">
              <div class="icon-wrap">
                <img src="images/ScrollArrows.svg" class="svg" alt="Scroll down">
              </div>
              <span class="d-none d-lg-block">Scroll</span>
            </div>
            <h1 class="section-title">About us</h1>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            Navidux Shipping Ltd. is a company with overall vision of shipping business and project transportation industry.
          </p>
        </div>
      </div>
    </div>
    <div class="image-wrap about-main-image">
      <img src="images/AboutMainImage.png" alt="About">
    </div>
  </section>

  <section class="section-experience">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-5">
          <p class="section-description">
            8 years of experience in the shipping business and project transportation industry.
          </p>
        </div>

        <div class="n-col-8 n-col-lg-6 col-text">
          <div class="row">
            <div class="n-col-8 n-col-lg-4">
              <p class="section-text">
                Navidux Shipping Ltd. We deliver innovative and highly efficient transport solutions customized to your individual
                requirements. Navidux Shipping Ltd.
                exclusive operator of highly diversified MPP/RoRo/and MPP f-type vessels with the necessary design, configuration
                and lifting capacity able to handle even
                unusually large and heavy cargo. We have years of experience shipping complex, large and heavy cargoes, whatever
                the project, we guarantee deep
                involvement, high quality and personalized solutions.
              </p>
            </div>
            <div class="n-col-8 n-col-lg-4">
              <p class="section-text">
                Besides providing transport solutions for heavy lift and project cargoes we also have a considerable expertise in
                shipping/handling steel and break bulk
                cargoes. Our team can arrange shipments of coils, plates, rebars, sheet piles, pipes and ingots. We have expert
                departments for any request and approach
                in specific way to each part of clients’ needs to use best experience of our team.
              </p>
            </div>
          </div>
        </div>

        <div class="n-col-8">
          <div class="row">
            <div class="n-col-8 n-col-lg-3 col-numbers d-flex justify-content-between align-items-center align-items-lg-end">
              <h5 class="big-number">120+</h5>
              <p class="number-description">
                Projects realizes over the world within last year
              </p>
            </div>
            <div class="n-col-8 n-col-lg-5 col-slider">
              <div class="slider-wrap">
                <div class="section-experience__slider slider square-dots">
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/ship_1.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/cargo_1.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/ship_2.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/cargo_2.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/ship_3.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/cargo_3.jpeg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/ship_4.jpg" alt="Experience">
                    </div>
                  </div>
                  <div class="slide">
                    <div class="image-wrap experience-image">
                      <img src="images/about/cargo_4.jpg" alt="Experience">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-geography">
    <div class="container">
      <div class="row d-lg-flex flex-lg-row-reverse">
        <div class="col-12 col-lg-4 d-lg-flex align-items-lg-end">
          <div class="count-wrap">
            <h2 class="countries-number">76</h2>
            <p class="countries-desc">
              Countries in our regular geography
            </p>
          </div>
        </div>

        <div class="col-12 col-lg-8">
          <div class="image-wrap geography-image" data-aos="fade-in" data-aos-easing="ease-out">
            <img class="interactive-map svg" src="images/GeographyMap.svg" alt="Geography">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-values">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <h2 class="section-title">Our values</h2>
          <p class="section-description">
            Highest level and professional operating of every aspect of safety, quality and secure day-to-day work, both ashore
            and at sea.
          </p>
        </div>

        <div class="n-col-8">
          <div class="row">
            <div class="n-col-6 n-offset-2 n-col-lg-2 n-offset-lg-0 col-value">
              <div class="value-wrap">
                <div class="value-image image-wrap">
                  <img class="value-img" src="images/Value-1.svg" alt="Value">
                  <img class="value-img hidden" src="images/Value-1-red.svg" alt="Value">
                </div>
                <p class="value-name">Individual approach</p>
                <p class="value-description">
                  Respecting and open communication with our Customers and Colleagues, feedback and support, finding of new,
                  smarter and better solutions in everything we do to meet our Customers Transportation needs.
                </p>
              </div>
            </div>

            <div class="n-col-6 n-offset-2 n-col-lg-2 n-offset-lg-1 col-value">
              <div class="value-wrap">
                <div class="value-image image-wrap">
                  <img class="value-img" src="images/Value-2.svg" alt="Value">
                  <img class="value-img hidden" src="images/Value-2-red.svg" alt="Value">
                </div>
                <p class="value-name">Processes standardization</p>
                <p class="value-description">
                  We follow every innovation and improvement in the shipping market to always have the best results by delivering
                  satisfactory, sustainable financial performance and professional services to our customers.
                </p>
              </div>
            </div>

            <div class="n-col-6 n-offset-2 n-col-lg-2 n-offset-lg-1 col-value">
              <div class="value-wrap">
                <div class="value-image image-wrap">
                  <img class="value-img" src="images/Value-3.svg" alt="Value">
                  <img class="value-img hidden" src="images/Value-3-red.svg" alt="Value">
                </div>
                <p class="value-name">Social responsibility</p>
                <p class="value-description">
                  Taking responsibility and commit to the Safety of our Personnel and the Environment. Active effort for
                  improvements to reduce waste, consumption of energy and fuel usage. Training and education for our employees to
                  meet all safety requirements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-about-services">
    <div class="container">
      <div class="row">
        <div class="n-col-lg-1">
          <h2 class="section-title">Services</h2>
        </div>

        <div class="n-col-8 n-col-lg-5 n-offset-lg-1">
          <div class="row">
            <div class="n-col-8 n-col-lg-6">
              <h5 class="section-description">
                We provide to our customers full service chain on all major directions and ready for personal challenges to reach
                true results on behalf of our huge
                experience.
              </h5>
            </div>
            <div class="n-col-8 n-col-lg-6">
              <p class="section-text">
                Regardless of industry we have solutions for our clients and are ready to offer opportunity to make each project
                real.Set of services provided by Navidux
                Shipping is comprehensive and integrated. Targeted on customers demands it gives fool spectrum of tools to
                maximize clients profit and minimize risks at
                the same time. We have expert departments for any request and approach in specific way to each part of clients’
                needs to use best experience of our team.
              </p>
            </div>
            <div class="n-col-8">
              <div class="row">
                <div class="n-col-8 n-col-lg-4">
                  <div class="about-service">
                    <div class="about-service__image">
                      <img class="svg" src="images/FirstService.svg" alt="Service">
                    </div>
                    <p class="about-service__name">
                      Commercial Management
                    </p>
                    <p class="about-service__desc">
                      Navidux can provide most efficient management of clients’ fleet due to long presence and experience of our
                      personnel in chartering and partnership with first class charterers.
                    </p>
                  </div>
                </div>
                <div class="n-col-8 n-col-lg-4">
                  <div class="about-service">
                    <div class="about-service__image operating-service">
                      <img class="svg" src="images/SecondService.svg" alt="Service">
                    </div>
                    <p class="about-service__name">
                      Operating
                    </p>
                    <p class="about-service__desc">
                      Fleet operation is always performed by our qualified personnel with many years experience and close
                      cooperation in agency, ship chandlering, survey, etc.
                    </p>
                  </div>
                </div>
                <div class="n-col-8 n-col-lg-4">
                  <div class="about-service">
                    <div class="about-service__image">
                      <img class="svg" src="images/ThirdService.svg" alt="Service">
                    </div>
                    <p class="about-service__name">
                      Chartering
                    </p>
                    <p class="about-service__desc">
                      hartering of our clients’ vessel is managed by our in-house ship broker team. We collaborate with large
                      broking companies and forwarders worldwide. Fixing terms for chartered tonnage are prepared in way to be
                      effective for our clients.
                    </p>
                  </div>
                </div>
                <div class="n-col-8 n-col-lg-4">
                  <div class="about-service">
                    <div class="about-service__image">
                      <img class="svg" src="images/FourthService.svg" alt="Service">
                    </div>
                    <p class="about-service__name">
                      Survey
                    </p>
                    <p class="about-service__desc">
                      Our surveyor team provides all services in part of cargo and vessel inspection.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="n-col-8">
              <a href="services.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
                <span>More about services</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-partners">
    <div class="container">
      <div class="row">
        <div class="n-col-8">
          <h2 class="section-title">Our partners</h2>
        </div>

        <div class="n-col-8 d-block d-lg-none">
          <div class="row">
            <div class="n-col-8 col-partner">
              <div class="image-wrap partner-logo">
                <img src="images/Partner1Mobile.svg" alt="Partner">
              </div>
            </div>
            <div class="n-col-8 col-partner">
              <div class="image-wrap partner-logo">
                <img src="images/Partner1Mobile.svg" alt="Partner">
              </div>
            </div>
            <div class="n-col-8 col-partner">
              <div class="image-wrap partner-logo">
                <img src="images/Partner1Mobile.svg" alt="Partner">
              </div>
            </div>
            <div class="n-col-8 col-partner">
              <div class="image-wrap partner-logo">
                <img src="images/Partner1Mobile.svg" alt="Partner">
              </div>
            </div>
          </div>
        </div>

        <div class="n-col-8 d-none d-lg-block">
          <div class="partners-slider slider square-dots">
            <div class="slide">
              <div class="row">
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/BWS_logo-White.svg" alt="Partner">
                  </div>
                </div>
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/cpc_logo.png" alt="Partner">
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="row">
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/db-logo-svg-data white.svg" alt="Partner">
                  </div>
                </div>
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/deugro white.svg" alt="Partner">
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="row">
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/DSVlogo-white.png" alt="Partner">
                  </div>
                </div>
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/enercon_de-white.png" alt="Partner">
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="row">
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/hyundai-merchant-marine-hmm-vector-logo white.svg" alt="Partner">
                  </div>
                </div>
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/kaleido-logo.png" alt="Partner">
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="row">
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/kuehne-nagel-logo-blue.png" alt="Partner">
                  </div>
                </div>
                <div class="n-col-8 col-partner">
                  <div class="image-wrap partner-logo">
                    <img class="d-none d-lg-block" src="images/partners/logobar.png" alt="Partner">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-certificates">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Certificates</h2>
        </div>

        <div class="col-12 d-flex d-lg-none">
          <div class="section-certificates__slider slider line-dots">
            <div class="slide">
              <div class="certificate-wrap">
                <div class="certificate-image image-wrap">
                  <img src="images/CertificateImage.svg" alt="Certificate">
                </div>
                <p class="certificate-desc">IMO</p>
              </div>
            </div>
            <div class="slide">
              <div class="certificate-wrap">
                <div class="certificate-image image-wrap">
                  <img src="images/CertificateImage.svg" alt="Certificate">
                </div>
                <p class="certificate-desc">Aita</p>
              </div>
            </div>
            <div class="slide">
              <div class="certificate-wrap">
                <div class="certificate-image image-wrap">
                  <img src="images/CertificateImage.svg" alt="Certificate">
                </div>
                <p class="certificate-desc">FAL Convention</p>
              </div>
            </div>
            <div class="slide">
              <div class="certificate-wrap">
                <div class="certificate-image image-wrap">
                  <img src="images/CertificateImage.svg" alt="Certificate">
                </div>
                <p class="certificate-desc">Maritime Safety Committee</p>
              </div>
            </div>
            <div class="slide">
              <div class="certificate-wrap">
                <div class="certificate-image image-wrap">
                  <img src="images/CertificateImage.svg" alt="Certificate">
                </div>
                <p class="certificate-desc">Marine ecology convention</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 d-none d-lg-block col-tab">
          <div class="row">
            <div class="col-4 d-flex align-items-center">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#solution-1">
                    Imo
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#solution-2">
                    Aita
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#solution-3">
                    FAL Convention
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#solution-4">
                    Maritime Safety Committee
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#solution-5">
                    Marine ecology convention
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-8">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="solution-1">
                  <div class="image-wrap">
                    <img src="images/CertificateImage.svg" alt="Certificate">
                  </div>
                </div>
                <div class="tab-pane fade" id="solution-2">
                  <div class="image-wrap">
                    <img src="images/CertificateImage.svg" alt="Certificate">
                  </div>
                </div>
                <div class="tab-pane fade" id="solution-3">
                  <div class="image-wrap">
                    <img src="images/CertificateImage.svg" alt="Certificate">
                  </div>
                </div>
                <div class="tab-pane fade" id="solution-4">
                  <div class="image-wrap">
                    <img src="images/CertificateImage.svg" alt="Certificate">
                  </div>
                </div>
                <div class="tab-pane fade" id="solution-5">
                  <div class="image-wrap">
                    <img src="images/CertificateImage.svg" alt="Certificate">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
