<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="contacts-page">
  <section class="contacts-main-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <h1 class="section-title">Contact</h1>

          <div class="contact-info-wrap">
            <div class="row">
              <div class="n-col-8">
                <a href="mailto:mail@navidux.com" class="mail-link">
                  <img class="d-block d-lg-none" src="images/Mail.svg" alt="Mail">
                  <span>mail@navidux.com</span>
                </a>
              </div>

              <div class="n-col-5 n-col-lg-6">
                <div class="phone-wrap">
                  <a href="tel:+232 876-766-98">
                    <span class="phone-letter">P.</span>
                    <span class="phone-text">+232 876-766-98</span>
                  </a>
                  <a href="tel:+232 876-766-98">
                    <span class="phone-letter">F.</span>
                    <span class="phone-text">+232 876-766-98</span>
                  </a>
                </div>
              </div>

              <div class="n-col-3 n-col-lg-2">
                <div class="socials-wrap">
                  <a href="#" class="social-link">
                    <img src="images/WhatsApp.svg" alt="WhatsApp">
                  </a>
                  <a href="#" class="social-link">
                    <img src="images/Telegram.svg" alt="Telegram">
                  </a>
                  <a href="#" class="social-link">
                    <img src="images/Viber.svg" alt="Viber">
                  </a>
                </div>
              </div>

              <div class="n-col-5 n-col-lg-5">
                <div class="address-wrap">
                  <p>Navidux Shipping SARL</p>
                  <p>
                    Rue Ferdinand Holder 23,
                    1207 Geneva, Switzerland
                  </p>
                </div>
              </div>

              <div class="n-col-3 n-col-lg-3">
                <a href="#" class="map-link">
                  <span>Google Maps</span>
                  <img src="images/MapLink.svg" alt="Icon">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-5">
          <div class="map-wrap">
            <a href="#" class="map-marker">
              <img src="images/MapMarker.svg" alt="Map marker">
            </a>
            <img src="images/ContactMap.png" alt="Map">
          </div>
        </div>
        <div class="n-col-8">
          <div class="bottom-socials-wrap">
            <a href="#" class="bottom-social-link">
              <img src="images/Instagram.svg" alt="Instagram">
            </a>
            <a href="#" class="bottom-social-link">
              <img src="images/Linkedin.svg" alt="Linkedin">
            </a>
            <a href="#" class="bottom-social-link">
              <img src="images/Facebook.svg" alt="Facebook">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-contact-form">
    <div class="container">
      <div class="row">
        <div class="n-col-lg-1 d-none d-lg-flex">
          <h2 class="section-title">Contact form</h2>
        </div>
        <div class="n-col-6 n-col-lg-3 n-offset-lg-2">
          <h2 class="contact-section-title">For business request or just to say hello — feel free to contact us.</h2>
        </div>
        <div class="n-col-6 n-offset-2">
          <form action="#" class="form-wrap">
            <input type="text" name="companyName" placeholder="Company name" required>
            <input type="text" name="website" placeholder="Website">
            <input type="text" name="contactName" placeholder="Contact name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="message" placeholder="Message">

            <button type="submit" class="submit-btn"><span>Send</span></button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>