<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="fleet-page">
  <section class="fleet-main-section no-image">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <div class="scroll-box d-flex d-lg-none">
              <div class="icon-wrap">
                <img src="images/ScrollArrows.svg" class="svg" alt="Scroll down">
              </div>
              <span class="d-none d-lg-block">Scroll</span>
            </div>
            <h1 class="section-title">Our fleet</h1>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            The vessels under our management trade worldwide and WE can offer a suitable vessel for your cargo requirements,
            whether it’s breakbulk, heavy lift, project cargo or bulk. Our trading route is Whole worldwide.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-fleet">
    <!-- MOBILE CATEGORIES -->
    <div class="fleet-category d-block d-lg-none">
      <div class="fleet-category__image image-wrap">
        <img src="images/FleetCategory.png" alt="Fleet category">
      </div>
      <div class="fleet-category__wrap">
        <div class="fleet-category__name-wrap">
          <button type="button" class="fleet-category__name collapsed" data-toggle="collapse" data-target="#collapseExample">
            <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
            <span>ROLO</span>
          </button>
        </div>

        <div class="fleet-category__collapse-wrap">
          <div class="fleet-category__collapse-info">
            <div class="fleet-category__sub-category-names-list">
              <h3 class="fleet-category__sub-category-name">M/V FLEET LEADER 2000</h3>
              <h3 class="fleet-category__sub-category-name">M/V FLEET LEADER 2000</h3>
            </div>

            <div class="collapse fleet-category__info" id="collapseExample">
              <div class="container">
                <div class="row">
                  <div class="n-col-8">
                    <div class="fleet-category__info__image image-wrap">
                      <img src="images/fleet/ROLO.jpg" alt="Fleet info">
                    </div>
                  </div>
                  <div class="n-col-8">
                    <div class="fleet-category__info__image-plan image-wrap">
                      <img src="images/fleet/ROLO-plan.jpg" alt="Fleet plan">
                    </div>
                  </div>
                  <div class="n-col-8 col-fleet-info">
                    <h3 class="fleet-category__info__title">LOA X BEAM X DRAFT</h3>
                    <p class="fleet-category__info__desc">126,84 X 20,0 X 6,7 m</p>

                    <h3 class="fleet-category__info__title">TYPE:</h3>
                    <p class="fleet-category__info__desc">
                      RO-RO/LO-LO Multipurpose Vessel,
                      Strengthed for Heavy Cargo
                      Equipped for carriage of Containers  MC E3 AUT
                      IMO Class ﬁtted
                    </p>

                    <h3 class="fleet-category__info__title">HOLDS:</h3>
                    <p class="fleet-category__info__desc">
                      LH1 25,35 x 15,55 x 5,05 m
                      LH2 25,35 x 15,55 x 5,05 m
                      TW1 39,40 x 16,28 x 6.20 m
                      TW2/P1 41,00 x 16,28 x 6.20 m
                      TW2/P2 13,00 x 15,65 x 6.20 m
                    </p>

                    <h3 class="fleet-category__info__title">RO-RO DECK:</h3>
                    <p class="fleet-category__info__desc">512 lm - 35 TRAILERS</p>

                    <h3 class="fleet-category__info__title">STERN STRAIGHT RAMP:</h3>
                    <p class="fleet-category__info__desc">175 mt lifting capacity</p>

                    <h3 class="fleet-category__info__title">VOLUME:</h3>
                    <p class="fleet-category__info__desc">15008CBM/530000 CBFT</p>

                    <h3 class="fleet-category__info__title">CRANES:</h3>
                    <p class="fleet-category__info__desc">
                      2 X 150 MT SWL, COMB UP TO 300 MT
                      2 X 100 MT SWL, COMB UP TO 200 MT
                      WD max working area
                      92.5 M x 16.70 m
                      TWD max working area
                      93.5 M x 16.28 M x 6.20 M
                    </p>

                    <h3 class="fleet-category__info__title">CONTAINERS:</h3>
                    <p class="fleet-category__info__desc">Hold 250 TEU+Deck 378 TEU</p>

                    <h3 class="fleet-category__info__title">SPEED:</h3>
                    <p class="fleet-category__info__desc">11.5 knt</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fleet-category d-block d-lg-none">
      <div class="fleet-category__image image-wrap">
        <img src="images/FleetCategory.png" alt="Fleet category">
      </div>
      <div class="fleet-category__wrap">
        <div class="fleet-category__name-wrap">
          <button type="button" class="fleet-category__name collapsed" data-toggle="collapse" data-target="#collapseExample2">
            <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
            <span>F240</span>
          </button>
        </div>

        <div class="fleet-category__collapse-wrap">
          <div class="fleet-category__collapse-info">
            <div class="fleet-category__sub-category-names-list">
              <h3 class="fleet-category__sub-category-name">M/V NEPTUNE CROWN 20</h3>
              <h3 class="fleet-category__sub-category-name">M/V MALIY B.S. 2006</h3>
            </div>

            <div class="collapse fleet-category__info" id="collapseExample2">
              <div class="container">
                <div class="row">
                  <div class="n-col-8">
                    <div class="fleet-category__info__image image-wrap">
                      <img src="images/fleet/F240.jpg" alt="Fleet info">
                    </div>
                  </div>
                  <div class="n-col-8">
                    <div class="fleet-category__info__image-plan image-wrap">
                      <img src="images/fleet/F240-plan.jpg" alt="Fleet plan">
                    </div>
                  </div>
                  <div class="n-col-8 col-fleet-info">
                    <h3 class="fleet-category__info__title">LOA X BEAM X DRAFT</h3>
                    <p class="fleet-category__info__desc">126,84 X 20,0 X 6,7 m</p>

                    <h3 class="fleet-category__info__title">TYPE:</h3>
                    <p class="fleet-category__info__desc">
                      RO-RO/LO-LO Multipurpose Vessel,
                      Strengthed for Heavy Cargo
                      Equipped for carriage of Containers  MC E3 AUT
                      IMO Class ﬁtted
                    </p>

                    <h3 class="fleet-category__info__title">HOLDS:</h3>
                    <p class="fleet-category__info__desc">
                      LH1 25,35 x 15,55 x 5,05 m
                      LH2 25,35 x 15,55 x 5,05 m
                      TW1 39,40 x 16,28 x 6.20 m
                      TW2/P1 41,00 x 16,28 x 6.20 m
                      TW2/P2 13,00 x 15,65 x 6.20 m
                    </p>

                    <h3 class="fleet-category__info__title">RO-RO DECK:</h3>
                    <p class="fleet-category__info__desc">512 lm - 35 TRAILERS</p>

                    <h3 class="fleet-category__info__title">STERN STRAIGHT RAMP:</h3>
                    <p class="fleet-category__info__desc">175 mt lifting capacity</p>

                    <h3 class="fleet-category__info__title">VOLUME:</h3>
                    <p class="fleet-category__info__desc">15008CBM/530000 CBFT</p>

                    <h3 class="fleet-category__info__title">CRANES:</h3>
                    <p class="fleet-category__info__desc">
                      2 X 150 MT SWL, COMB UP TO 300 MT
                      2 X 100 MT SWL, COMB UP TO 200 MT
                      WD max working area
                      92.5 M x 16.70 m
                      TWD max working area
                      93.5 M x 16.28 M x 6.20 M
                    </p>

                    <h3 class="fleet-category__info__title">CONTAINERS:</h3>
                    <p class="fleet-category__info__desc">Hold 250 TEU+Deck 378 TEU</p>

                    <h3 class="fleet-category__info__title">SPEED:</h3>
                    <p class="fleet-category__info__desc">11.5 knt</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DESKTOP CATEGORIES -->
    <div class="fleet-category d-none d-lg-block">
      <div class="container">
        <div class="row row-fleet">
          <div class="n-col-2">
            <div class="fleet-category__wrap">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <h2 class="fleet-category__name" data-tab-target="#ROLO">
                    <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
                    <span>ROLO</span>
                  </h2>
                  <ul class="fleet-category__nav-tabs">
                    <li class="fleet-category__nav-item">M/V FLEET LEADER 2000</li>
                    <li class="fleet-category__nav-item">M/V GLOBAL CARRIER 2000</li>
                    <li class="fleet-category__nav-item">M/V WORLD CARRIER 1999</li>
                    <li class="fleet-category__nav-item">M/V FLEET STAR 1998</li>
                  </ul>
                </li>

                <li class="nav-item">
                  <h2 class="fleet-category__name" data-tab-target="#F240">
                    <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
                    <span>F240</span>
                  </h2>
                  <ul class="fleet-category__nav-tabs">
                    <li class="fleet-category__nav-item">M/V NEPTUNE CROWN 20</li>
                    <li class="fleet-category__nav-item">M/V MALIY B.S. 2006</li>
                  </ul>
                </li>

                <li class="nav-item">
                  <h2 class="fleet-category__name" data-tab-target="#MPP">
                    <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
                    <span>MPP</span>
                  </h2>
                  <ul class="fleet-category__nav-tabs">
                    <li class="fleet-category__nav-item">M/V WHITE PEARL 2010</li>
                    <li class="fleet-category__nav-item">M/V WHITE EAGLE 2009</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="n-col-6">
            <div class="tab-content">
              <div class="tab-pane fade" id="ROLO">
                <div class="row">
                  <div class="n-col-5">
                    <div class="fleet-category__info__image image-wrap">
                      <img src="images/fleet/ROLO.jpg" alt="Fleet info">
                    </div>
                    <div class="fleet-category__info__image-plan image-wrap">
                      <img src="images/fleet/ROLO-plan.jpg" alt="Fleet plan">
                    </div>
                  </div>
                  <div class="n-col-3 col-fleet-info">
                    <h3 class="fleet-category__info__title">LOA X BEAM X DRAFT</h3>
                    <p class="fleet-category__info__desc">126,84 X 20,0 X 6,7 m</p>

                    <h3 class="fleet-category__info__title">TYPE:</h3>
                    <p class="fleet-category__info__desc">
                      RO-RO/LO-LO Multipurpose Vessel,
                      Strengthed for Heavy Cargo
                      Equipped for carriage of Containers  MC E3 AUT
                      IMO Class ﬁtted
                    </p>

                    <h3 class="fleet-category__info__title">HOLDS:</h3>
                    <p class="fleet-category__info__desc">
                      LH1 25,35 x 15,55 x 5,05 m
                      LH2 25,35 x 15,55 x 5,05 m
                      TW1 39,40 x 16,28 x 6.20 m
                      TW2/P1 41,00 x 16,28 x 6.20 m
                      TW2/P2 13,00 x 15,65 x 6.20 m
                    </p>

                    <h3 class="fleet-category__info__title">RO-RO DECK:</h3>
                    <p class="fleet-category__info__desc">512 lm - 35 TRAILERS</p>

                    <h3 class="fleet-category__info__title">STERN STRAIGHT RAMP:</h3>
                    <p class="fleet-category__info__desc">175 mt lifting capacity</p>

                    <h3 class="fleet-category__info__title">VOLUME:</h3>
                    <p class="fleet-category__info__desc">15008CBM/530000 CBFT</p>

                    <h3 class="fleet-category__info__title">CRANES:</h3>
                    <p class="fleet-category__info__desc">
                      2 X 150 MT SWL, COMB UP TO 300 MT
                      2 X 100 MT SWL, COMB UP TO 200 MT
                      WD max working area
                      92.5 M x 16.70 m
                      TWD max working area
                      93.5 M x 16.28 M x 6.20 M
                    </p>

                    <h3 class="fleet-category__info__title">CONTAINERS:</h3>
                    <p class="fleet-category__info__desc">Hold 250 TEU+Deck 378 TEU</p>

                    <h3 class="fleet-category__info__title">SPEED:</h3>
                    <p class="fleet-category__info__desc">11.5 knt</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="F240">
                <div class="row">
                  <div class="n-col-5">
                    <div class="fleet-category__info__image image-wrap">
                      <img src="images/fleet/F240.jpg" alt="Fleet info">
                    </div>
                    <div class="fleet-category__info__image-plan image-wrap">
                      <img src="images/fleet/F240-plan.jpg" alt="Fleet plan">
                    </div>
                  </div>
                  <div class="n-col-3 col-fleet-info">
                    <h3 class="fleet-category__info__title">LOA X BEAM X DRAFT</h3>
                    <p class="fleet-category__info__desc">126,84 X 20,0 X 6,7 m</p>

                    <h3 class="fleet-category__info__title">TYPE:</h3>
                    <p class="fleet-category__info__desc">
                      RO-RO/LO-LO Multipurpose Vessel,
                      Strengthed for Heavy Cargo
                      Equipped for carriage of Containers  MC E3 AUT
                      IMO Class ﬁtted
                    </p>

                    <h3 class="fleet-category__info__title">HOLDS:</h3>
                    <p class="fleet-category__info__desc">
                      LH1 25,35 x 15,55 x 5,05 m
                      LH2 25,35 x 15,55 x 5,05 m
                      TW1 39,40 x 16,28 x 6.20 m
                      TW2/P1 41,00 x 16,28 x 6.20 m
                      TW2/P2 13,00 x 15,65 x 6.20 m
                    </p>

                    <h3 class="fleet-category__info__title">RO-RO DECK:</h3>
                    <p class="fleet-category__info__desc">512 lm - 35 TRAILERS</p>

                    <h3 class="fleet-category__info__title">STERN STRAIGHT RAMP:</h3>
                    <p class="fleet-category__info__desc">175 mt lifting capacity</p>

                    <h3 class="fleet-category__info__title">VOLUME:</h3>
                    <p class="fleet-category__info__desc">15008CBM/530000 CBFT</p>

                    <h3 class="fleet-category__info__title">CRANES:</h3>
                    <p class="fleet-category__info__desc">
                      2 X 150 MT SWL, COMB UP TO 300 MT
                      2 X 100 MT SWL, COMB UP TO 200 MT
                      WD max working area
                      92.5 M x 16.70 m
                      TWD max working area
                      93.5 M x 16.28 M x 6.20 M
                    </p>

                    <h3 class="fleet-category__info__title">CONTAINERS:</h3>
                    <p class="fleet-category__info__desc">Hold 250 TEU+Deck 378 TEU</p>

                    <h3 class="fleet-category__info__title">SPEED:</h3>
                    <p class="fleet-category__info__desc">11.5 knt</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="MPP">
                <div class="row">
                  <div class="n-col-5">
                    <div class="fleet-category__info__image image-wrap">
                      <img src="images/fleet/MPP.jpg" alt="Fleet info">
                    </div>
                    <div class="fleet-category__info__image-plan image-wrap">
                      <img src="images/fleet/MPP-plan.jpg" alt="Fleet plan">
                    </div>
                  </div>
                  <div class="n-col-3 col-fleet-info">
                    <h3 class="fleet-category__info__title">LOA X BEAM X DRAFT</h3>
                    <p class="fleet-category__info__desc">126,84 X 20,0 X 6,7 m</p>

                    <h3 class="fleet-category__info__title">TYPE:</h3>
                    <p class="fleet-category__info__desc">
                      RO-RO/LO-LO Multipurpose Vessel,
                      Strengthed for Heavy Cargo
                      Equipped for carriage of Containers  MC E3 AUT
                      IMO Class ﬁtted
                    </p>

                    <h3 class="fleet-category__info__title">HOLDS:</h3>
                    <p class="fleet-category__info__desc">
                      LH1 25,35 x 15,55 x 5,05 m
                      LH2 25,35 x 15,55 x 5,05 m
                      TW1 39,40 x 16,28 x 6.20 m
                      TW2/P1 41,00 x 16,28 x 6.20 m
                      TW2/P2 13,00 x 15,65 x 6.20 m
                    </p>

                    <h3 class="fleet-category__info__title">RO-RO DECK:</h3>
                    <p class="fleet-category__info__desc">512 lm - 35 TRAILERS</p>

                    <h3 class="fleet-category__info__title">STERN STRAIGHT RAMP:</h3>
                    <p class="fleet-category__info__desc">175 mt lifting capacity</p>

                    <h3 class="fleet-category__info__title">VOLUME:</h3>
                    <p class="fleet-category__info__desc">15008CBM/530000 CBFT</p>

                    <h3 class="fleet-category__info__title">CRANES:</h3>
                    <p class="fleet-category__info__desc">
                      2 X 150 MT SWL, COMB UP TO 300 MT
                      2 X 100 MT SWL, COMB UP TO 200 MT
                      WD max working area
                      92.5 M x 16.70 m
                      TWD max working area
                      93.5 M x 16.28 M x 6.20 M
                    </p>

                    <h3 class="fleet-category__info__title">CONTAINERS:</h3>
                    <p class="fleet-category__info__desc">Hold 250 TEU+Deck 378 TEU</p>

                    <h3 class="fleet-category__info__title">SPEED:</h3>
                    <p class="fleet-category__info__desc">11.5 knt</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="big-fleet-image d-none d-lg-block">
          <div class="fleet-category-slider slider square-dots">
            <div class="slide">
              <img src="images/fleet/FLEET_1.jpg" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_2.jpg" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_3.png" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_4.png" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_5.jpg" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_6.jpg" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_7.jpg" alt="Fleet category">
            </div>
            <div class="slide">
              <img src="images/fleet/FLEET_8.jpg" alt="Fleet category">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>