<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="human-resources-page">
  <section class="human-resources-main-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <div class="scroll-box d-flex d-lg-none">
              <div class="icon-wrap">
                <img src="images/ScrollArrows.svg" class="svg" alt="Scroll down">
              </div>
              <span class="d-none d-lg-block">Scroll</span>
            </div>
            <h1 class="section-title">Human Resources</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="image-wrap about-main-image">
      <img src="images/services/ServicesMainImage.png" alt="Services">
    </div>
  </section>

  <section class="personal-section">
    <div class="container">
      <div class="row row-personal">
        <div class="n-col-8 n-col-lg-4">
          <h2 class="personal-name">Our principals for human resources</h2>
        </div>
        <div class="n-col-8 n-col-lg-4">
          <ul class="resources-list">
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Keeping at the forefront of all employees work motivation and loyalty.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Developing the performances of the employees with regular training.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>The career planning and developing of employees in line with the organisation.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Fair remuneration and rewarding.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Performance evaluation of success to be shared with all the employees themselves.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Staff supports  according to our company requirements.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row row-personal">
        <div class="n-col-8 n-col-lg-4">
          <h2 class="personal-name">Our employees</h2>
        </div>
        <div class="n-col-8 n-col-lg-4">
          <ul class="resources-list">
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our company  values of business ethics and principles are fundamental for our success.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our employees have right to express their opinions and obtain information in line with the principles of our company.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>We believe that teamwork is the foundation of our success.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our aim is to keep highest level of quality in all our services.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our principal of management is based on labor of employees.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row row-personal">
        <div class="n-col-8 n-col-lg-4">
          <h2 class="personal-name">Our principals and values</h2>
        </div>
        <div class="n-col-8 n-col-lg-4">
          <ul class="resources-list">
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>We consider our employees as our most precious investment.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Customer satisfaction is our main purpose.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our basic principle is to improve ourselves constantly in line with our targets.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>We comply with all ethical rules of business.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Our main goal is to be among the best in our industry.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row row-personal">
        <div class="n-col-8 n-col-lg-4">
          <h2 class="personal-name">Our operation targets</h2>
        </div>
        <div class="n-col-8 n-col-lg-4">
          <ul class="resources-list">
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Keeping the highest level of quality of service.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Peaceful and healthy working environment.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Providing the most appropriate solution proposals.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>To follow all the developments in the sector, ensure compliance as soon as possible.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Goals with team mates to contribute to creativity.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>To be competitive in the market.</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="row row-personal">
        <div class="n-col-8 n-col-lg-4">
          <h2 class="personal-name">Management principles</h2>
        </div>
        <div class="n-col-8 n-col-lg-4">
          <ul class="resources-list">
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>To be opened for research and developments.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>To be focused  on team to success with the principle of giving priority to team work.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>To take the initiative to employees.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Identifying with wide participation in decisions.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Being customer oriented.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Being target oriented.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Being quality oriented.</p>
            </li>
            <li class="resources-list-item">
              <img src="images/ResourcesListCircle.svg" alt="Circle">
              <p>Proper functioning of labor standards.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>