<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="main-page">
  <section class="main-section">
    <div class="layout-image image-wrap" data-aos="fade" data-aos-easing="easy-out">
      <img class="d-block d-lg-none" src="images/MainImage.png" alt="">
      <video class="d-none d-lg-block" src="images/MainVideo.m4v" preload="none" muted autoplay loop></video>
    </div>
    <div class="container" data-aos="fade" data-aos-easing="easy-out">
      <div class="row">
        <div class="col-12" data-aos="fade-up-15" data-aos-delay="1100">
          <h1 class="main-section__title">
            Overall vision of shipping business and project transportation industry
          </h1>
          <p class="main-section__description">
            8 years helps business worldwide to solve the most complex problems of transportation by sea
          </p>
        </div>
        <div class="col-12 col-lg-4">
          <a href="services.html" class="custom-btn" data-aos="btn-slide"
             data-aos-easing="easy-in-fast" data-aos-delay="2100">
            <span>More about our services</span>
          </a>
        </div>
        <div class="col-lg-8 d-none d-lg-flex">
          <div class="services-wrap">
            <a href="services.html#commercial" class="service-item" data-aos="fade-up-15" data-aos-delay="1100">
              <img class="service-image" src="images/FirstService.svg" alt="Service">
              <img class="service-image hidden" src="images/FirstServiceRed.svg" alt="Service">
              <span class="service-desc">Commercial Management</span>
            </a>
            <a href="services.html#operating" class="service-item" data-aos="fade-up-15" data-aos-delay="1100">
              <img class="service-image" src="images/SecondService.svg" alt="Service">
              <img class="service-image hidden" src="images/SecondServiceRed.svg" alt="Service">
              <span class="service-desc">Operating</span>
            </a>
            <a href="services.html#chartering" class="service-item" data-aos="fade-up-15" data-aos-delay="1100">
              <img class="service-image" src="images/ThirdService.svg" alt="Service">
              <img class="service-image hidden" src="images/ThirdServiceRed.svg" alt="Service">
              <span class="service-desc">Chartering</span>
            </a>
            <a href="services.html#survey" class="service-item" data-aos="fade-up-15" data-aos-delay="1100">
              <img class="service-image" src="images/FourthService.svg" alt="Service">
              <img class="service-image hidden" src="images/FourthServiceRed.svg" alt="Service">
              <span class="service-desc">Survey</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="solution-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-1">
          <h2 class="section-title">Solutions</h2>
        </div>

        <div class="n-col-8 n-col-lg-6">
          <h5 class="section-description">
            We deliver innovative and highly efficient transport solutions customized to your individual requirements.
          </h5>
        </div>

        <div class="n-col-lg-6 n-offset-lg-1 d-none d-lg-flex col-text">
          <div class="row">
            <div class="n-col-4">
              <p class="section-text">
                Navidux Shipping Ltd. We deliver innovative and highly efficient transport solutions customized to your individual
                requirements. Navidux Shipping Ltd.
                exclusive operator of highly diversified MPP/RoRo/and MPP f-type vessels with the necessary design, configuration
                and lifting capacity able to handle even
                unusually large and heavy cargo.
              </p>
            </div>
            <div class="n-col-4">
              <p class="section-text">
                Navidux Shipping Ltd. We deliver innovative and highly efficient transport solutions customized to your individual
                requirements. Navidux Shipping Ltd.
                exclusive operator of highly diversified MPP/RoRo/and MPP f-type vessels with the necessary design, configuration
                and lifting capacity able to handle even
                unusually large and heavy cargo.
              </p>
            </div>
          </div>
        </div>

        <div class="n-col-8 d-flex d-lg-none">
          <div class="slider-wrap">
            <div class="solution-slider slider line-dots">
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">WINDMILL EQUIPMENT</p>
              </div>
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">ROLLING MATTERIALS</p>
              </div>
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">FLOATING CARGOES</p>
              </div>
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">PROJECT CARGOES</p>
              </div>
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">GENERAL & STEEL CARGOES INCLUDING IMO CLASS</p>
              </div>
              <div class="slide">
                <div class="image-wrap">
                  <img src="images/SolutionImage.png" alt="Solution">
                </div>
                <p class="solution-name">OVERSIZED & OVERWEIGHT CARGOES</p>
              </div>
            </div>
          </div>
        </div>

        <div class="n-col-lg-8 d-none d-lg-block col-tab">
          <div class="row">
            <div class="n-col-2 n-offset-1 d-flex align-items-center">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" data-target="#solution-1" data-aos="fade-in" data-aos-easing="ease-out"
                    data-aos-delay="1000" data-aos-duration="400">
                    WINDMILL EQUIPMENT
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#solution-2" data-aos="fade-in" data-aos-easing="ease-out"
                     data-aos-delay="1000" data-aos-duration="400">
                    ROLLING MATTERIALS
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#solution-3" data-aos="fade-in" data-aos-easing="ease-out"
                     data-aos-delay="1000" data-aos-duration="400">
                    FLOATING CARGOES
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#solution-4" data-aos="fade-in" data-aos-easing="ease-out"
                     data-aos-delay="1000" data-aos-duration="400">
                    PROJECT CARGOES
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#solution-5" data-aos="fade-in" data-aos-easing="ease-out"
                     data-aos-delay="1000" data-aos-duration="400">
                    GENERAL & STEEL CARGOES INCLUDING IMO CLASS
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-target="#solution-6" data-aos="fade-in" data-aos-easing="ease-out"
                     data-aos-delay="1000" data-aos-duration="400">
                    OVERSIZED & OVERWEIGHT CARGOES
                  </a>
                </li>
              </ul>
            </div>

            <div class="n-col-4">
              <div class="tab-wrap">
                <div class="tab-panel show" id="solution-1" data-aos="clip-right" data-aos-easing="ease-in-fast">
                  <div class="solution-main-slider-wrap">
                    <div class="slider solution-desktop-slider square-dots">
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/WINDMILL_EQUIPMENT/WINDMILL_1.jpg" alt="Solution">
                        </div>
                      </div>
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/WINDMILL_EQUIPMENT/WINDMILL_2.jpg" alt="Solution">
                        </div>
                      </div>
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/WINDMILL_EQUIPMENT/WINDMILL_3.jpg" alt="Solution">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-panel" id="solution-2">
                  <div class="solution-main-slider-wrap">
                    <div class="slider solution-desktop-slider square-dots">
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/ROLLING_MATTERIALS/ROLLING_1.jpg" alt="Solution">
                        </div>
                      </div>
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/ROLLING_MATTERIALS/ROLLING_2.jpg" alt="Solution">
                        </div>
                      </div>
                      <div class="slide">
                        <div class="img-wrap">
                          <img src="images/solutions/ROLLING_MATTERIALS/ROLLING_3.jpg" alt="Solution">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-panel" id="solution-3">
                  <div class="slider solution-desktop-slider square-dots">
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/FLOATING_CARGOES/CARGOES_1.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/FLOATING_CARGOES/CARGOES_2.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/FLOATING_CARGOES/CARGOES_3.jpg" alt="Solution">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-panel" id="solution-4">
                  <div class="slider solution-desktop-slider square-dots">
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/PROJECT_CARGO/PROJECT_1.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/PROJECT_CARGO/PROJECT_2.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/PROJECT_CARGO/PROJECT_3.jpg" alt="Solution">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-panel" id="solution-5">
                  <div class="slider solution-desktop-slider square-dots">
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/GENERAL_STEEL_CARGOES/GENERAL_1.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/GENERAL_STEEL_CARGOES/GENERAL_2.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/GENERAL_STEEL_CARGOES/GENERAL_3.jpg" alt="Solution">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-panel" id="solution-6">
                  <div class="slider solution-desktop-slider square-dots">
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/OVERSIZED_OVERWEIGHT_CARGOES/OVER_1.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/OVERSIZED_OVERWEIGHT_CARGOES/OVER_2.jpg" alt="Solution">
                      </div>
                    </div>
                    <div class="slide">
                      <div class="img-wrap">
                        <img src="images/solutions/OVERSIZED_OVERWEIGHT_CARGOES/OVER_3.jpg" alt="Solution">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="n-col-8 n-col-lg-3 n-offset-lg-3">
          <a href="services.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
            <span>More about shipping solutions</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="project-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8">
          <h2 class="section-title">Projects</h2>
        </div>
        <div class="n-col-8">
          <div class="row">
            <div class="col-12 col-lg-4">
              <p class="section-description">
                Transportation of windmill equipment from Turkey to Croatia
              </p>
            </div>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-3">
          <p class="section-text">
            Our company is one of the first who start transporting windmill projects. Over the years of active practice, we have
            gained significant experience in loading and transportation, which gives us the opportunity to say that the cargo will
            be delivered on time and without any damages. We successfully arranged project for 2 consecutive voyages from Aliaga
            to Zadar. More than 10 sets of windmill equipment were delivered during 1 month
          </p>
          <div class="row">
            <div class="n-col-8">
              <div class="row">
                <div class="n-col-4 n-col-lg-8">
                  <div class="project-section__numbers-wrap">
                    <p class="project-section__number">1,235</p>
                    <p class="project-section__number-description">
                      Some numbers about project
                    </p>
                  </div>
                </div>
                <div class="n-col-4 n-col-lg-8">
                  <div class="project-section__numbers-wrap">
                    <p class="project-section__number project-section__number_big">33,456</p>
                    <p class="project-section__number-description">
                      Some numbers about project
                    </p>
                  </div>
                </div>
                <div class="n-col-4 n-col-lg-8">
                  <div class="project-section__numbers-wrap">
                    <p class="project-section__number project-section__number_big">343,573</p>
                    <p class="project-section__number-description">
                      Some numbers about project
                    </p>
                  </div>
                </div>
                <div class="n-col-4 n-col-lg-8">
                  <div class="project-section__numbers-wrap">
                    <p class="project-section__number project-section__number_big">2,354,456</p>
                    <p class="project-section__number-description">
                      Some numbers about project
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="n-col-8 n-col-lg-5">
          <div class="slider-wrap">
            <div class="project-section__slider slider square-dots">
              <div class="slide">
                <div class="project-image image-wrap" data-aos="block-scale" data-aos-easing="ease-in">
                  <img src="images/projects/project-1/DJI_0224.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0226.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0252.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0255.jpg" alt="Project">
                </div>
              </div>
            </div>
          </div>
          <a href="projects.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
            <span>See all projects</span>
          </a>
        </div>

        <div class="n-col-8 d-flex d-lg-none">
          <div class="row">
            <div class="col-6">
              <div class="project-section__numbers-wrap">
                <p class="project-section__number">1,235</p>
                <p class="project-section__number-description">
                  Some numbers about project
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="project-section__numbers-wrap">
                <p class="project-section__number project-section__number_big">33,456</p>
                <p class="project-section__number-description">
                  Some numbers about project
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="project-section__numbers-wrap">
                <p class="project-section__number project-section__number_big">343,573</p>
                <p class="project-section__number-description">
                  Some numbers about project
                </p>
              </div>
            </div>
            <div class="col-6">
              <div class="project-section__numbers-wrap">
                <p class="project-section__number project-section__number_big">2,354,456</p>
                <p class="project-section__number-description">
                  Some numbers about project
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="n-col-8 d-flex d-lg-none">
          <a href="projects.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
            <span>See all projects</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-2">
          <h2 class="section-title">About</h2>
        </div>

        <div class="col-12 col-lg-7">
          <p class="section-description">
            We serve our customers with full services on all major directions and ready for personal challenges services for a
            true results on behalf of our huge
            experience.
          </p>
        </div>

        <div class="col-12 col-lg-5 offset-lg-2">
          <p class="section-text">
            Set of services provided by Navidux Shipping is comprehensive and integrated. Targeted on customers demands it gives
            fool spectrum of tools to maximize
            clients profit and minimize risks at the same time. We have expert departments for any request and approach in
            specific way to each part of clients’ needs to
            use best experience of our team.
          </p>
        </div>

        <div class="col-12 col-lg-10 offset-lg-2 col-numbers-wrap">
          <div class="row">
            <div class="col-6 col-lg-3 col-number">
              <p class="about-section__number">50</p>
              <p class="about-section__number-desc">Partners</p>
            </div>
            <div class="col-6 col-lg-3 col-number">
              <p class="about-section__number">76</p>
              <p class="about-section__number-desc">Countries</p>
            </div>
            <div class="col-6 col-lg-3 col-number">
              <p class="about-section__number">28 +</p>
              <p class="about-section__number-desc">Services</p>
            </div>
            <div class="col-6 col-lg-3 col-number">
              <p class="about-section__number">35</p>
              <p class="about-section__number-desc">Trailers RO-RO</p>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="images-wrap d-flex d-lg-none">
            <img src="images/about/DJI_0239.jpg" alt="About">
            <img src="images/about/DSCN2545.jpg" alt="About little">
          </div>

          <div class="slider-wrap d-none d-lg-block">
            <div class="about-section__slider slider square-dots">
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/DJI_0239.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/DSCN2545.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/IMG-f67e9ac7f7cebcfff45681012ad91221-V.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/IMG_1371.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/nsmail.jpeg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/sungari_9512434_1273571_Large.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/Безымянный.jpg" alt="About">
                </div>
              </div>
              <div class="slide" data-aos="clip-right" data-aos-easing="ease-in-fast">
                <div class="image-wrap">
                  <img src="images/about/Снимок экрана (34).jpg" alt="About">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-10 offset-lg-2">
          <a href="about.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
            <span>More about us</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="fleet-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-info">
          <div class="row">
            <div class="col-12 col-lg-5">
              <h2 class="section-title-big">Our Fleet Under Full Comercial Management</h2>
              <h5 class="section-description">
                The vessels under our management trade worldwide and WE can offer a suitable vessel
                for your cargo requirements, whether it’s breakbulk, heavy lift, project cargo or bulk.
                Our trading route is Whole worldwide
              </h5>
            </div>

            <div class="col-12 col-lg-7">
              <div class="image-wrap" data-aos="fade-in" data-aos-easing="ease-out" data-aos-duration="500">
                <img src="images/FleetImage.png" alt="Fleet">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-fleet">
          <div class="row">
            <div class="col-12 col-lg-4">
              <h5 class="fleet-name">Rolo</h5>
            </div>

            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-top-info">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-title">Vessels</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-title">DWT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">LOA</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">SPEED</p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V FLEET LEADER 2000</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">7200 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">126,84 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11.5 KTS</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V GLOBAL CARRIER 2000 </p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">7200 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">126,84 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11.5 KTS</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V WORLD CARRIER 1999</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">7200 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">126,84 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11.5 KTS</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V FLEET STAR 1998</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">7200 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">126,84 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11.5 KTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-fleet">
          <div class="row">
            <div class="col-12 col-lg-4">
              <h5 class="fleet-name">F240</h5>
            </div>

            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-top-info">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-title">Vessels</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-title">DWT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">LOA</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">SPEED</p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V NEPTUNE CROWN 20</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">12717 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">138,04 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">13,5 KTS</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V MALIY B.S. 2006</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">12717 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">138,04 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">13,5 KTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-fleet">
          <div class="row">
            <div class="col-12 col-lg-4">
              <h5 class="fleet-name">MPP</h5>
            </div>

            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-top-info">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-title">Vessels</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-title">DWT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">LOA</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-title">SPEED</p>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V WHITE PEARL 2010</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">8057 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">116,23 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11,0 KTS</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8 col-lg-6">
                      <p class="fleet-sub-title">M/V WHITE EAGLE 2009</p>
                    </div>
                    <div class="col-4 col-lg-2">
                      <p class="fleet-sub-title">8057 MT</p>
                    </div>

                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">116,23 M</p>
                    </div>
                    <div class="col-lg-2 d-none d-lg-flex">
                      <p class="fleet-sub-title">11,0 KTS</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8 offset-lg-4 col-btn">
          <a href="fleet.html" class="custom-btn" data-aos="btn-slide"
             data-aos-easing="easy-in-fast" data-aos-delay="500">
            <span>More about fleet</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="news-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
          <h2 class="section-title">News</h2>
        </div>

        <div class="col-12 col-lg-9 col-news-wrap">
          <div class="row">
            <div class="col-12 col-lg-6 col-news" data-aos>
              <div class="image-wrap news-image d-none d-lg-block">
                <img src="images/MainImage.png" alt="New image">
              </div>
              <div class="new-title-wrap" data-aos="fade-up-15" data-aos-easing="easy-in" data-aos-delay="800"
                   data-aos-duration="700">
                <h5 class="news-title">
                  We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                </h5>
              </div>
              <div class="bottom-wrap" data-aos="fade" data-aos-easing="ease-out" data-aos-delay="1200"
                   data-aos-duration="300">
                <p class="news-date">March 17, 2020</p>
                <a href="news-selected.html" class="news-link">
                  <span>Read article</span>
                  <img class="svg" src="images/NewsArrow.svg" alt="Arrow">
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-news" data-aos>
              <div class="image-wrap news-image d-none d-lg-block">
                <img src="images/MainImage.png" alt="New image">
              </div>
              <div class="new-title-wrap" data-aos="fade-up-15" data-aos-easing="easy-in" data-aos-delay="800"
                   data-aos-duration="700">
                <h5 class="news-title">
                  We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                </h5>
              </div>
              <div class="bottom-wrap" data-aos="fade" data-aos-easing="ease-out" data-aos-delay="1200"
                   data-aos-duration="300">
                <p class="news-date">March 17, 2020</p>
                <a href="news-selected.html" class="news-link">
                  <span>Read article</span>
                  <img class="svg" src="images/NewsArrow.svg" alt="Arrow">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <a href="news.html" class="link-btn" data-aos="fade-in" data-aos-easing="ease-out"
             data-aos-delay="0" data-aos-duration="300">
            <span>All news</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
