<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="news-page">
  <section class="news-main-section no-image">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <h1 class="section-title">News</h1>
          </div>
        </div>

        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            All services provided with our company are administrated with our qualified personnel with many years of experience in the
            shipping market.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="news-section news-page-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#all">All news</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#our">Our news</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#events">Events</a>
            </li>
          </ul>
        </div>
        <div class="n-col-8 n-col-lg-3 col-news-wrap">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel">
              <div class="row">
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="our" role="tabpanel">
              <div class="row">
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="events" role="tabpanel">
              <div class="row">
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
                <div class="n-col-8 col-news">
                  <h5 class="news-title">
                    We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
                  </h5>
                  <div class="bottom-wrap">
                    <p class="news-date">March 17, 2020</p>
                    <a href="news-selected.html" class="news-link">
                      <span>Read article</span>
                      <img src="images/NewsArrow.svg" alt="Arrow">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="n-col-8 d-flex justify-content-center">
          <button type="button" class="show-more-btn">
            <span class="image-wrap">
              <img src="images/services/ServiceCollapseArrow.svg" alt="Arrow">
            </span>
            <span class="text">Show more news</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>