<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="news-selected-page">
  <section class="news-selected-main-section no-image">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3 d-lg-flex align-items-lg-end">
          <a href="news.html" class="news-all-link d-none d-lg-flex">
            <span class="link-img">
              <img src="images/ScrollArrows.svg" class="svg" alt="Link arrow">
            </span>
            <span class="link-text">All news</span>
          </a>
          <div class="news-info-row d-flex d-lg-none">
            <p class="news-data">March 17, 2020</p>
            <a href="news.html" class="news-link">Events</a>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-3">
          <h1 class="section-description">
            We are designing new, unique, c friendly ships for transporting Elon Musk rockets.
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="news-selected-info-section">
    <div class="container">
      <div class="row">
        <div class="n-col-1 d-none d-lg-flex">
          <div class="event-list">
            <h3 class="event-name">Topic:</h3>
            <h3 class="event-name">Date:</h3>
            <h3 class="event-name">Share</h3>
          </div>
        </div>
        <div class="n-col-1 d-none d-lg-block">
          <h3 class="event-name link">Events</h3>
          <h3 class="event-name">March 17, 2020</h3>
          <div class="share-icons">
            <a href="#"><img src="images/ShareTwitter.svg" alt="Twitter"></a>
            <a href="#"><img src="images/ShareFacebook.svg" alt="Facebook"></a>
            <a href="#"><img src="images/ShareGooglePlus.svg" alt="Google plus"></a>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-4 n-offset-lg-1">
          <div class="news-selected-wrap">
            <h2 class="news-selected-title">
              We provide to our customers full service chain on all major directions and ready for personal challenges to reach
              true results on behalf of our huge experience.
            </h2>
            <div class="news-selected-text">
              <p>
                Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula. Dolor morbi non
                arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus. A iaculis at erat pellentesque
                adipiscing commodo. Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifend mi in
                nulla posuere. Lobortis feugiat vivamus at augue eget arcu dictum.
              </p>
            </div>
            <div class="news-selected-image">
              <img src="images/NewsSelectedDefault.svg" alt="News">
              <p class="news-selected-image-text">Name of picture</p>
            </div>
            <div class="news-selected-text">
              <p>
                Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula. Dolor morbi non
                arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus. A iaculis at erat pellentesque
                adipiscing commodo. Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifend mi in
                nulla posuere. Lobortis feugiat vivamus at augue eget arcu dictum.
              </p>
            </div>
            <div class="images-list">
              <div class="row">
                <div class="n-col-4">
                  <div class="news-selected-image">
                    <img src="images/NewsSelectedDefault.svg" alt="News">
                    <p class="news-selected-image-text">Name of picture</p>
                  </div>
                </div>
                <div class="n-col-4">
                  <div class="news-selected-image">
                    <img src="images/NewsSelectedDefault.svg" alt="News">
                    <p class="news-selected-image-text">Name of picture</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-selected-text">
              <p>
                Nibh sed pulvinar proin gravida hendrerit lectus. Sit amet commodo nulla facilisi nullam vehicula. Dolor morbi non
                arcu risus quis varius quam quisque id. Non consectetur a erat nam at lectus. A iaculis at erat pellentesque
                adipiscing commodo. Eu facilisis sed odio morbi. Nulla facilisi cras fermentum odio eu feugiat. Eleifend mi in
                nulla posuere. Lobortis feugiat vivamus at augue eget arcu dictum.
              </p>
            </div>
            <div class="share-wrap d-flex d-lg-none">
              <p class="share-text">Share</p>
              <div class="share-icons">
                <a href="#"><img src="images/ShareTwitter.svg" alt="Twitter"></a>
                <a href="#"><img src="images/ShareFacebook.svg" alt="Facebook"></a>
                <a href="#"><img src="images/ShareGooglePlus.svg" alt="Google plus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="news-section news-page-section other-news">
    <div class="container">
      <div class="row">
        <div class="n-col-lg-1 d-none d-lg-flex">
          <h3 class="section-title">Related articles</h3>
        </div>
        <div class="n-col-8 n-col-lg-3 n-offset-lg-2">
          <div class="row">
            <div class="n-col-8 col-news">
              <h5 class="news-title">
                We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
              </h5>
              <div class="bottom-wrap">
                <p class="news-date">March 17, 2020</p>
                <a href="news-selected.html" class="news-link">
                  <span>Read article</span>
                  <img src="images/NewsArrowWhite.svg" alt="Arrow">
                </a>
              </div>
            </div>
            <div class="n-col-8 col-news">
              <h5 class="news-title">
                We are designing new, unique, environmentally friendly ships for transporting Elon Musk rockets.
              </h5>
              <div class="bottom-wrap">
                <p class="news-date">March 17, 2020</p>
                <a href="news-selected.html" class="news-link">
                  <span>Read article</span>
                  <img src="images/NewsArrowWhite.svg" alt="Arrow">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>