<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="privacy-page">
  <section class="privacy-main-section no-image">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <h1 class="section-title">Privacy Policy</h1>
          </div>
        </div>

        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-privacy-info">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-4 n-offset-lg-3">
          <div class="first-text-block">
            <h2 class="privacy-title">Privacy Policy for Navidux Shipping</h2>
            <p class="text">
              At Website Name, accessible at Website.com, one of our main priorities is the privacy of our visitors. This Privacy Policy
              document contains types of information that is collected and recorded by Website Name and how we use it. <br>
              <br>
              If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through
              email at Email@Website.com <br>
              <br>
              This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the
              information that they shared and/or collect in Website Name. This policy is not applicable to any information collected
              offline or via channels other than this website.
            </p>
          </div>
          <div class="second-text-block">
            <h3 class="text-block-title">Consent</h3>
            <p class="text">
              By using our website, you hereby consent to our Privacy Policy and agree to its terms. <br>
              Information we collect <br>
              The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to
              you at the point we ask you to provide your personal information. <br>
              If you contact us directly, we may receive additional information about you such as your name, email address, phone number,
              the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
              When you register for an Account, we may ask for your contact information, including items such as name, company name,
              address, email address, and telephone number.
            </p>
          </div>
          <div class="third-text-block">
            <h3 class="text-block-title">How we use your information</h3>
            <p class="text">We use the information we collect in various ways, including to:</p>
            <ul class="privacy-list-text">
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Provide, operate, and maintain our website</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Provide, operate, and maintain our website</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Improve, personalize, and expand our website</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Understand and analyze how you use our website</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Develop new products, services, features, and functionality</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with
                  updates and other information relating to the website, and for marketing and promotional purposes</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Send you emails</p>
              </li>
              <li class="privacy-list-text-item">
                <img src="images/ResourcesListCircle.svg" alt="Circle">
                <p>Find and prevent fraud</p>
              </li>
            </ul>
          </div>
          <div class="fourth-text-block">
            <h3 class="text-block-title">Log files</h3>
            <p class="text">
              Website Name follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting
              companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol
              (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the
              number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is
              for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.
              <br>
              Cookies and Web Beacons <br>
              Like any other website, Website Name uses ‘cookies'. These cookies are used to store information including visitors'
              preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users'
              experience by customizing our web page content based on visitors' browser type and/or other information.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>