<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="projects-page">
  <section class="projects-main-section no-image">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <div class="scroll-box">
              <div class="icon-wrap">
                <img src="images/ScrollArrows.svg" class="svg" alt="Scroll down">
              </div>
              <span class="d-none d-lg-block">Scroll</span>
            </div>
            <h1 class="section-title">Projects</h1>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
            Neque volutpat ac tincidunt vitae. Accumsan lacus vel facilisis volutpat est velit.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-project">
    <div class="container">
      <div class="row row-project">
        <div class="n-col-8">
          <div class="row">
            <div class="n-col-8 n-col-lg-2">
              <div class="project-info-wrap">
                <h2 class="project-name">
                  Transportation of windmill equipment from Turkey to Croatia
                </h2>
                <p class="project-desc">
                  Our company is one of the first who start transporting windmill projects. Over the years of active practice, we
                  have gained significant experience in loading and transportation, which gives us the opportunity to say that the
                  cargo will be delivered on time and without any damages. We successfully arranged project for 2 consecutive
                  voyages from Aliaga to Zadar. More than 10 sets of windmill equipment were delivered during 1 month
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-6 col-project-slider">
          <div class="project-slider-wrap">
            <div class="project-slider slider square-dots">
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0224.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0226.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0252.jpg" alt="Project">
                </div>
              </div>
              <div class="slide">
                <div class="project-image image-wrap">
                  <img src="images/projects/project-1/DJI_0255.jpg" alt="Project">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="n-col-8 n-col-lg-2">
          <div class="row row-numbers">
            <div class="n-col-4 n-col-lg-8">
              <div class="project-numbers-wrap">
                <h3 class="project-big-number">1,235</h3>
                <p class="project-number-desc">Some numbers about project</p>
              </div>
            </div>
            <div class="n-col-4 n-col-lg-8">
              <div class="project-numbers-wrap">
                <h3 class="project-big-number">33,456</h3>
                <p class="project-number-desc">Some numbers about project</p>
              </div>
            </div>
            <div class="n-col-4 n-col-lg-8">
              <div class="project-numbers-wrap">
                <h3 class="project-big-number">343,573</h3>
                <p class="project-number-desc">Some numbers about project</p>
              </div>
            </div>
            <div class="n-col-4 n-col-lg-8">
              <div class="project-numbers-wrap">
                <h3 class="project-big-number">2,354,456</h3>
                <p class="project-number-desc">Some numbers about project</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>