<% var data = { title: "Navidux" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="services-page">
  <section class="services-main-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-3">
          <div class="title-wrap">
            <div class="scroll-box">
              <div class="icon-wrap">
                <img src="images/ScrollArrows.svg" class="svg" alt="Scroll down">
              </div>
              <span class="d-none d-lg-block">Scroll</span>
            </div>
            <h1 class="section-title">Services</h1>
          </div>
        </div>

        <div class="n-col-8 n-col-lg-3">
          <p class="section-description">
            All services provided with our company are administrated with our qualified personnel with many years of experience in
            the shipping market.
          </p>
        </div>
      </div>
    </div>
    <div class="image-wrap about-main-image">
      <img src="images/services/ServicesMainImage.png" alt="Services">
    </div>
  </section>

  <section class="services-info-section">
    <div class="container">
      <div class="row">
        <div class="n-col-8 n-col-lg-5 n-offset-lg-1">
          <h5 class="section-description">
            We provide to our customers full service chain on all major directions and ready for personal challenges to reach true
            results
            on behalf of our huge
            experience.
          </h5>
        </div>
        <div class="n-col-8 n-col-lg-7 n-offset-lg-1">
          <div class="row">
            <div class="n-col-8 n-col-lg-4">
              <p class="section-text">
                Navidux team are able to offer time-sensitive shipments for large cargo contracts as well as spot shipments. We
                boost your productivity as we easily carry cargoes of differing dimensions. We can deliver your cargo at literally
                any port or offshore platform.
              </p>
            </div>
            <div class="n-col-8 n-col-lg-4">
              <p class="section-text">
                Our fleet is continuously evaluated and renewed to satisfy the needs of our many clients as well as to meet the
                changing market conditions in this dynamic industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services-list-section">
    <div class="container">
      <div class="row">
        <div id="commercial" class="n-col-7 n-offset-lg-1 col-service-item">
          <div class="row">
            <div class="n-col-8 n-col-lg-2 col-service-name">
              <div class="service-name-wrap">
                <div class="service-image image-wrap">
                  <img src="images/services/Service1.svg" alt="Service">
                </div>
                <h5 class="service-name d-block d-lg-none">Commercial Management</h5>
              </div>
            </div>
          </div>
        </div>

        <div id="operating" class="n-col-7 n-offset-lg-1 col-service-item">
          <div class="row">
            <div class="n-col-8 n-col-lg-2 col-service-name">
              <div class="service-name-wrap">
                <div class="service-image image-wrap">
                  <img src="images/services/Service2.svg" alt="Service">
                </div>
                <h5 class="service-name d-block d-lg-none">Operating</h5>
              </div>
            </div>
          </div>
        </div>

        <div id="chartering" class="n-col-7 n-offset-lg-1 col-service-item">
          <div class="row">
            <div class="n-col-8 n-col-lg-2 col-service-name">
              <div class="service-name-wrap">
                <div class="service-image image-wrap">
                  <img src="images/services/Service3.svg" alt="Service">
                </div>
                <h5 class="service-name d-block d-lg-none">Chartering</h5>
              </div>
            </div>
          </div>
        </div>

        <div id="survey" class="n-col-7 n-offset-lg-1 col-service-item">
          <div class="row">
            <div class="n-col-8 n-col-lg-2 col-service-name">
              <div class="service-name-wrap">
                <div class="service-image image-wrap">
                  <img src="images/services/Service4.svg" alt="Service">
                </div>
                <h5 class="service-name d-block d-lg-none">Survey</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>